<div class="row px-2">
  <div class="col-12 bg-white my-2 py-3">
    <h5 class="text-danger mb-1">
      <fa-icon [icon]="faBox" class="me-1"></fa-icon>
      <span class="text-uppercase">Ajuste de Inventario</span>
    </h5>
    <form [formGroup]="ajusteForm" (ngSubmit)="saveChange()" id="ajusteForm" class="table-group-divider">
      <div class="row my-3">
        <label class="col-2 col-form-label text-end">ALMACÉN</label>
        <div class="col-3">
          <select formControlName="warehouseId" [attr.disabled]="ajusteInventario.status === 'VALIDADO'"
                  (change)="changeWarehouses($event.target)" class="form-select"
                  [ngClass]="{'is-invalid': inputIsInvalid('warehouseId')}">
            <option *ngFor="let item of warehouses" [value]="item.id">{{ item.name }}</option>
          </select>
        </div>
        <label class="col-1 col-form-label text-end">UBICACIÓN</label>
        <div class="col-3">
          <select formControlName="locationId" class="form-select"
                  [attr.disabled]="ajusteInventario.status === 'VALIDADO'"
                  [ngClass]="{'is-invalid': inputIsInvalid('locationId')}">
            <option *ngFor="let item of locations" [value]="item.id">{{ item.description }}</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-2 col-form-label text-end">OBSERVACIÓN</label>
        <div class="col-7">
          <div class="input-group">
            <span class="input-group-text">
              <fa-icon [icon]="faMessage" class="mx-1"></fa-icon>
            </span>
            <input type="text" formControlName="remark" class="form-control"
                   [ngClass]="{'is-invalid': inputIsInvalid('remark')}">
          </div>
        </div>
      </div>
    </form>
    <div class="table-responsive">
      <table class="table table-striped mb-2">
        <thead class="table-primary">
        <tr class="text-uppercase">
          <th>Descripción</th>
          <th>Cant. A Mano</th>
          <th>Cant. Contada</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of ajusteInventarioDetails">
          <td>{{ item.productName }}</td>
          <td>{{ item.cantExistente }}</td>
          <td>{{ item.cantContada }}</td>
          <td>
            <div class="tblBtn ms-auto">
              <button type="button" (click)="editAjusteInventarioDetail(item)" [disabled]="invalidEditItem()"
                      class="btn btn-secondary btn-sm me-2">
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
              <button type="button" (click)="deleteDetail(item.id)" class="btn btn-danger btn-sm">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <!--<button class="btn bg-success border-0" [disabled]="type === 'ADD'">
        <fa-icon [icon]="faPlus" class="text-white me-1"></fa-icon>
        <span class="text-uppercase text-white">Agregar Material</span>
      </button>-->
    </div>
  </div>
  <div class="col-12 bg-white mb-2 py-3">
    <div class="d-flex justify-content-center">
      <button type="button" (click)="back()" class="btn btn-secondary btn-lg me-2">
        <fa-icon [icon]="faCircleLeft" class="me-1"></fa-icon>
        <span class="text-uppercase">Cancelar</span>
      </button>
      <button type="submit" form="ajusteForm" class="btn btn-primary btn-lg">
        <fa-icon [icon]="faSave" class="me-1"></fa-icon>
        <span class="text-uppercase">Guardar</span>
      </button>
      <button type="button" (click)="validar()"
              *ngIf="validButton()" [disabled]="ajusteInventarioDetails.length <= 0"
              class="btn btn-warning btn-lg ms-2">
        <fa-icon [icon]="faCircleCheck" class="me-1"></fa-icon>
        <span class="text-uppercase">Validar</span>
      </button>
    </div>
  </div>
</div>
