<div class="modal fade" id="cobrar-modal" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <fa-icon [icon]="faBars"></fa-icon>
          <span class="text-uppercase ms-1">Cobrar Venta</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="true">
          <div class="d-flex justify-content-between">
            <button class="btn btn-outline-secondary w-100">
              <fa-icon [icon]="faMoneyBillAlt" class="d-block"></fa-icon>
              <span class="text-uppercase fw-bold">Efectivo</span>
            </button>
            <button class="btn btn-outline-secondary w-100 mx-2">
              <fa-icon [icon]="faMoneyCheckAlt" class="d-block"></fa-icon>
              <span class="text-uppercase fw-bold">Tarjeta</span>
            </button>
            <button class="btn btn-outline-secondary w-100">
              <fa-icon [icon]="faPiggyBank" class="d-block"></fa-icon>
              <span class="text-uppercase fw-bold">Transferencia</span>
            </button>
          </div>
        </ng-container>
        <ng-template #frmCobrar>

        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <span class="text-uppercase">Cerrar</span>
        </button>
        <button type="button" class="btn btn-success" disabled>
          <span class="text-uppercase">Cobrar</span>
        </button>
      </div>
    </div>
  </div>
</div>
