<app-user-detail-container>
  <form (ngSubmit)="cargarPagosSuscripcion()" [formGroup]="queryForm" class="row row-cols-auto g-2 mb-2">
    <div class="col-auto">
      <label class="col-form-label fw-bold">Filtrar por:</label>
    </div>
    <div class="col-auto">
      <input type="number" formControlName="year" step="1" value="2024" style="width: 100px;" class="form-control">
    </div>
    <div class="col-12 col-md-4 col-lg-auto">
      <div class="input-group">
        <span class="input-group-text">
          <fa-icon [icon]="faFilter"></fa-icon>
        </span>
        <input type="text" formControlName="query" class="form-control" placeholder="Empresa">
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-auto">
      <button type="submit" class="btn btn-success w-100">
        <fa-icon [icon]="faSearch"></fa-icon>
        <span class="text-uppercase ms-1">Buscar</span>
      </button>
    </div>
    <div class="col-6 col-md-3 col-lg-auto">
      <button type="button" (click)="agregarPagoModal()" class="btn btn-primary w-100">
        <fa-icon [icon]="faPlus"></fa-icon>
        <span class="text-uppercase ms-1">Agregar</span>
      </button>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-striped mb-2">
      <thead>
        <tr class="table-primary text-uppercase">
          <th>Fecha</th>
          <th>Empresa</th>
          <th>Monto</th>
          <th>Suscripción</th>
          <th>Observación</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let item of pagos.data">
          <td>{{item.createdAt|date}}</td>
          <td>{{item.companyName}}</td>
          <td>{{item.monto.toFixed(4)|currency}}</td>
          <td>{{item.fechaDesde|date}} - {{item.fechaHasta|date}}</td>
          <td>{{item.remark}}</td>
          <td>
            <div class="tblBtn ms-auto">
              <button type="button" (click)="editarPagoSuscripcionModal(item)" class="btn btn-secondary btn-sm me-2">
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
              <button type="button" (click)="borrarPagoSuscripcion(item.id)" class="btn btn-danger btn-sm">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <nav class="d-flex justify-content-center mb-1">
      <ul class="pagination fw-bold mb-0">
        <li class="page-item" [ngClass]="{'disabled': pagos.pagination.previousPage === null}">
          <a class="page-link" [routerLink]="['/', 'account', 'users', userId, 'suscripciones']"
            [queryParams]="{page: pagos.pagination.previousPage}">Anterior</a>
        </li>
        <li *ngFor="let item of pagos.pagination.pages" class="page-item"
          [ngClass]="{'active': pagos.pagination.currentPage === item.page}">
          <a class="page-link" [routerLink]="['/', 'account', 'users', userId, 'suscripciones']"
            [queryParams]="{page: item.page}">{{item.page}}</a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': pagos.pagination.nextPage === null}">
          <a class="page-link" [routerLink]="['/', 'account', 'users', userId, 'suscripciones']"
            [queryParams]="{page: pagos.pagination.nextPage}">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
</app-user-detail-container>

<app-payment-modal [userId]="userId" [empresas]="empresas" [data]="pagoSuscripcionDataModal"
  (responseData)="responseModal($event)"></app-payment-modal>
