<div class="modal fade" id="material-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase">Agregar Material</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="saveChanges()" id="materialModalForm">
          <div class="mb-3">
            <label class="form-label text-uppercase">Seleccione un producto</label>
            <div class="input-group">
              <span class="input-group-text">
                <fa-icon [icon]="faBox" class="mx-1"></fa-icon>
              </span>
              <select id="producto" class="form-select" title="PRODUCTO"
                      [ngClass]="{'is-invalid': inputIsInvalid('productId')}"></select>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label text-uppercase">Almacén de Origen</label>
            <div class="input-group">
              <span class="input-group-text">
                <fa-icon [icon]="faWarehouse"></fa-icon>
              </span>
              <select formControlName="warehouseId" class="form-select" title="ALMACÉN"
                      [ngClass]="{'is-invalid': inputIsInvalid('warehouseId')}">
                <option *ngFor="let item of warehouses" [value]="item.id">{{ item.name }}</option>
              </select>
            </div>
          </div>
          <label class="form-label text-uppercase">Cant. Salida de Material</label>
          <div class="input-group">
            <span class="input-group-text">
              <fa-icon [icon]="faTags" class="mx-1"></fa-icon>
            </span>
            <input type="number" formControlName="cantidad" class="form-control" title="CANTIDAD"
                   [ngClass]="{'is-invalid': inputIsInvalid('cantidad')}">
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">
          <span class="text-uppercase">Cerrar</span>
        </button>
        <button type="submit" form="materialModalForm" class="btn btn-primary btn-lg">
          <span class="text-uppercase">Guardar</span>
        </button>
      </div>
    </div>
  </div>
</div>
