<div class="modal fade" id="product-location" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase">{{ dataModal.title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="saveChanges()" id="productLocationForm">
          <div class="mb-3">
            <label class="form-label text-uppercase">Seleccione un producto</label>
            <div class="input-group">
              <span class="input-group-text">
                <fa-icon [icon]="faBox" class="mx-1"></fa-icon>
              </span>
              <select id="producto" class="form-select" title="PRODUCTO"
                      [ngClass]="{'is-invalid': inputIsInvalid('productId')}"></select>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="form-label text-uppercase">Cant. Mínima</label>
              <div class="input-group">
                <span class="input-group-text">
                  <fa-icon [icon]="faLock" class="mx-1"></fa-icon>
                </span>
                <input type="number" formControlName="quantityMin" class="form-control" placeholder="MIN" title="MIN"
                       [ngClass]="{'is-invalid': inputIsInvalid('quantityMin')}">
              </div>
            </div>
            <div class="col-6">
              <label class="form-label text-uppercase">Cant. Máxima</label>
              <div class="input-group">
                <span class="input-group-text">
                  <fa-icon [icon]="faLock" class="mx-1"></fa-icon>
                </span>
                <input type="number" formControlName="quantityMax" class="form-control" placeholder="MAX" title="MAX"
                       [ngClass]="{'is-invalid': inputIsInvalid('quantityMax')}">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">
          <span class="text-uppercase">Cerrar</span>
        </button>
        <button type="submit" form="productLocationForm" class="btn btn-primary btn-lg">
          <span class="text-uppercase">Guardar</span>
        </button>
      </div>
    </div>
  </div>
</div>
