<div class="modal fade" id="cargaMasivaProductos" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-uppercase fs-5">Carga masiva de productos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="text-center mb-2">
            <a href="#" (click)="descargarPlantilla($event)" class="text-uppercase">Descargar Plantilla Excel</a>
          </div>
          <div class="mb-3">
            <label class="form-label d-block fw-bold text-center">Sube tu archivo excel con tus productos</label>
            <input class="form-control" type="file" (change)="selectedExcel($event)" accept=".xlsx, .xls">
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" (click)="cargarArchivo()" class="btn btn-success btn-lg">
              <span class="text-uppercase">Cargar productos</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
