<app-account-navbar></app-account-navbar>
<div class="container">
  <div class="row px-2">
    <div class="col-12 bg-white my-2 py-3">
      <nav class="fs-5 text-uppercase">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a class="text-dark" routerLink="/account/mycompanies">
              <fa-icon [icon]="faFolderOpen" class="me-1"></fa-icon>
              <span>Empresas</span>
            </a>
          </li>
          <li class="breadcrumb-item active">nombre compania</li>
        </ol>
      </nav>
      <div class="row">
        <div class="col-12 col-md-3 mb-2">
          <div class="list-group fs-5">
            <a [routerLink]="['/account/mycompanies', companyId, 'certificado']" routerLinkActive="active"
               class="list-group-item list-group-item-action">
              <fa-icon [icon]="faCertificate" class="me-1"></fa-icon>
              <span>Certificado</span>
            </a>
            <a [routerLink]="['/account/mycompanies', companyId, 'warehouses']" routerLinkActive="active"
               class="list-group-item list-group-item-action">
              <fa-icon [icon]="faWarehouse" class="me-1"></fa-icon>
              <span>Almacenes</span>
            </a>
            <a [routerLink]="['/account/mycompanies', companyId, 'invoice-series']" routerLinkActive="active"
               class="list-group-item list-group-item-action">
              <fa-icon [icon]="faReceipt" class="me-1"></fa-icon>
              <span>Series de Facturación</span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
