<div class="modal fade" id="credit-information-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-uppercase fs-5">Información del crédito</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="creditForm">
          <div class="row mb-3">
            <label class="col-4 col-form-label text-end">Pendiente de Pago</label>
            <div class="col-5">
              <input type="number" formControlName="mtoNetoPendientePago" step="0.1" class="form-control bg-light"
                     [ngClass]="{'is-invalid': inputIsInvalid('mtoNetoPendientePago')}" readonly>
            </div>
          </div>
          <div class="row mb-2">
            <label class="col-4 col-form-label text-end">Fecha Vencimiento</label>
            <div class="col-5">
              <input type="date" formControlName="fecVencimiento" class="form-control"
                     [ngClass]="{'is-invalid': inputIsInvalid('fecVencimiento')}">
            </div>
          </div>
          <div *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
            <strong>{{messageAlert}}</strong>
            <button type="button" (click)="closeAlert()"
                    class="btn-close" data-bs-dismiss="alert">
            </button>
          </div>
          <div class="row">
            <span class="fw-bold">Máximo podrá registrar hasta 60 cuotas.</span>
            <div class="table-responsive">
              <table class="table table-striped mb-2">
                <thead class="table-info">
                <tr class="text-uppercase">
                  <th>Fecha Vencimiento</th>
                  <th>Monto Cuota</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of cuotasPagoDto">
                  <td>{{item.fecCuotaPago|date}}</td>
                  <td>{{item.mtoCuotaPago}}</td>
                  <td>
                    <div class="tblBtn ms-auto">
                      <button type="button" (click)="editarCuota(item)" class="btn btn-secondary btn-sm me-2">
                        <fa-icon [icon]="faEdit"></fa-icon>
                      </button>
                      <button type="button" (click)="deleteCuota(item.uuid)"
                              class="btn btn-danger btn-sm">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                      </button>
                    </div>
                  </td>
                </tr>
                </tbody>
                <tfoot class="table-group-divider">
                <tr class="table-warning text-uppercase">
                  <th>Sumatoria Cuotas</th>
                  <th colspan="2">
                    <span [class.text-danger]="sumatoriaCuotas > pagoPendiente">{{sumatoriaCuotas|currency}}</span>
                  </th>
                </tr>
                </tfoot>
              </table>
              <button type="button" (click)="agregarCuota()" class="btn btn-success">
                <fa-icon [icon]="faCircleChevronRight" class="me-1"></fa-icon>
                <span class="text-uppercase">Agregar Cuota</span>
              </button>
            </div>
          </div>
        </form>
        <app-cuota-modal
          [cuotaDataModal]="cuotaDataModal"
          (responseData)="saveChangesDetail($event)">
        </app-cuota-modal>
      </div>
      <div class="modal-footer bg-light justify-content-center">
        <button type="button" (click)="saveChanges()" class="btn btn-primary btn-lg">
          <fa-icon [icon]="faCircleChevronRight" class="me-1"></fa-icon>
          <span class="text-uppercase">Registrar</span>
        </button>
      </div>
    </div>
  </div>
</div>
