<app-sales-container>
  <div class="row px-2">
    <div class="col-12 bg-white my-2 py-3">
      <form (ngSubmit)="cargarComprobantes()" [formGroup]="queryForm" class="row row-cols-auto g-2">
        <div class="col-12 col-lg-auto">
          <label class="col-form-label fw-bold">Filtrar por:</label>
        </div>
        <div class="col-auto">
          <input type="number" formControlName="year" step="1" value="2021" style="width: 100px;" class="form-control">
        </div>
        <div class="col-8 col-lg-auto">
          <select formControlName="month" class="form-select" style="max-width: 200px;">
            <option value="01">ENERO</option>
            <option value="02">FEBRERO</option>
            <option value="03">MARZO</option>
            <option value="04">ABRIL</option>
            <option value="05">MAYO</option>
            <option value="06">JUNIO</option>
            <option value="07">JULIO</option>
            <option value="08">AGOSTO</option>
            <option value="09">SEPTIEMBRE</option>
            <option value="10">OCTUBRE</option>
            <option value="11">NOVIEMBRE</option>
            <option value="12">DICIEMBRE</option>
          </select>
        </div>
        <div class="col-auto">
          <div class="input-group">
            <span class="input-group-text">
              <fa-icon [icon]="faFilter" class="mx-1"></fa-icon>
            </span>
            <input type="text" class="form-control" formControlName="query" placeholder="Comprobante/Cliente">
          </div>
        </div>
        <div class="col-5 col-md-4 col-lg-auto">
          <button type="submit" class="btn btn-success w-100">
            <fa-icon [icon]="faSearch"></fa-icon>
            <span class="text-uppercase ms-1">Buscar</span>
          </button>
        </div>
        <div class="col-7 col-md-4 col-lg-auto">
          <button type="button" (click)="nuevoComprobante()" class="btn btn-primary w-100">
            <fa-icon [icon]="faPlus"></fa-icon>
            <span class="text-uppercase ms-1">Comprobante</span>
          </button>
        </div>
        <div class="col-12 col-md-4 col-lg-auto">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">
              <fa-icon [icon]="faList" class="me-1"></fa-icon>
              <span class="text-uppercase">Opciones</span>
            </button>
            <ul class="dropdown-menu">
              <li class="text-uppercase">
                <a class="dropdown-item" (click)="showComprobantesPendientesModal($event)" href="#">Comprobantes
                  Pendientes</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li class="text-uppercase">
                <a class="dropdown-item" (click)="descargarRegistroDeVentas($event)" href="#">
                  Registro de Ventas
                </a>
              </li>
              <!--<li class="text-uppercase">
                <a class="dropdown-item" (click)="descargarRegistroDeVentasF141($event)" href="#">Registro de Ventas -
                  F14.1</a>
              </li>
              <li class="text-uppercase">
                <a class="dropdown-item" (click)="abrirModalConsultarValidezDiaria($event)" href="#">Consulta Validez
                  Diaria</a>
              </li>
              <li class="text-uppercase">
                <a class="dropdown-item" (click)="descargarConsultaValidezMensual($event)" href="#">Consulta Validez
                  Mensual</a>
              </li>-->
            </ul>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 bg-white py-2">
      <div class="table-responsive">
        <table class="table table-striped mb-2">
          <thead class="text-uppercase">
            <tr>
              <th colspan="5">
                <span class="text-danger-emphasis">{{ companyName }} | Comprobantes de Pago</span>
              </th>
            </tr>
            <tr class="table-primary">
              <th>Fecha</th>
              <th>Comprobante</th>
              <th>Cliente</th>
              <th>Total</th>
              <th>Sunat</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let item of invoiceSales.data">
              <td>{{ item.fechaEmision|date }}</td>
              <td>
                <a [class.text-danger]="item.anulada"
                  [routerLink]="['/', companyId, 'sales', 'invoice-sale-detail', item.id]">
                  {{ item.serie }}-{{ item.correlativo }}
                </a>
              </td>
              <td>{{ item.cliente.rznSocial }}</td>
              <td>{{ item.mtoImpVenta|currency }}</td>
              <td class="text-uppercase">{{ item.billingResponse.success|invoiceStatus }}</td>
            </tr>
          </tbody>
        </table>
        <nav class="d-flex justify-content-center mb-1">
          <ul class="pagination fw-bold mb-0">
            <li class="page-item" [ngClass]="{'disabled': invoiceSales.pagination.previousPage === null}">
              <a class="page-link" [routerLink]="['/', companyId, 'sales']"
                [queryParams]="{page: invoiceSales.pagination.previousPage}">Anterior</a>
            </li>
            <li *ngFor="let item of invoiceSales.pagination.pages" class="page-item"
              [ngClass]="{'active': invoiceSales.pagination.currentPage === item.page}">
              <a class="page-link" [routerLink]="['/', companyId, 'sales']"
                [queryParams]="{page: item.page}">{{item.page}}</a>
            </li>
            <li class="page-item" [ngClass]="{'disabled': invoiceSales.pagination.nextPage === null}">
              <a class="page-link" [routerLink]="['/', companyId, 'sales']"
                [queryParams]="{page: invoiceSales.pagination.nextPage}">Siguiente</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</app-sales-container>

<app-loader [loading]="loading"></app-loader>

<app-comprobantes-pendientes-modal [company]="company" (responseData)="refreshTableList($event)">
</app-comprobantes-pendientes-modal>
<app-consultar-validez-diaria-modal (responseData)="redirectConsultarValidezDiaria($event)">
</app-consultar-validez-diaria-modal>
