<div class="modal fade"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     id="cobrar-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <fa-icon [icon]="faBars"></fa-icon>
          <span class="text-uppercase ms-1">Cobrar Venta</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-1">
        <ng-container *ngIf="false else success">
          <div class="row">
            <div class="col-6">
              <div class="mb-1">
                <label for="method" class="form-label text-uppercase">Forma de pago</label>
                <select class="form-select" id="method">
                  <option value="Credito">CRÉDITO</option>
                  <option value="Contado">CONTADO</option>
                </select>
              </div>
              <div class="mb-1">
                <label for="bank" class="form-label text-uppercase">Banco</label>
                <select class="form-select" id="bank">
                  <option value="0">SIN DEFINIR</option>
                  <option value="1">BCP</option>
                  <option value="2">B.N</option>
                  <option value="3">BBVA</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-1">
                <label for="invoice" class="form-label text-uppercase">Numeración</label>
                <select class="form-select" id="invoice">
                  <option value="1">FACTURA</option>
                  <option value="2">BOLETA</option>
                  <option value="3">NOTA DE VENTA</option>
                </select>
              </div>
              <div class="mb-1">
                <label for="amount" class="form-label text-uppercase">Monto</label>
                <input type="number" step="0.01" class="form-control" id="amount">
              </div>
            </div>
            <div class="col-12">
              <label for="remark" class="form-label text-uppercase">Observaciones</label>
              <textarea class="form-control" id="remark" rows="2"></textarea>
            </div>
          </div>
        </ng-container>
        <ng-template #success>
          <div class="div-success">
            <fa-icon [icon]="faCheckSquare"></fa-icon>
            <span class="d-block">TOTAL: 122.00</span>
            <span class="d-block text-danger">VUELTO: 20.00</span>
          </div>
          <div class="sendEmail">
            <label class="form-label fw-bold">ENVIAR POR CORREO</label>
            <div class="input-group">
              <input type="text" class="form-control">
              <button class="btn btn-success" type="button">
                <fa-icon [icon]="faEnvelope"></fa-icon>
                <span class="text-uppercase ms-1">Enviar</span>
              </button>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">
          <span class="text-uppercase">Cerrar</span>
        </button>
        <ng-container *ngIf="false else print">
          <button type="button" class="btn btn-primary btn-lg">
            <span class="text-uppercase">Cobrar</span>
          </button>
        </ng-container>
        <ng-template #print>
          <button type="button" class="btn btn-primary btn-lg">
            <span class="text-uppercase">Imprimir</span>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
