@import "~bootstrap/scss/bootstrap";
// ============================================================
@import "~select2/src/scss/core";
@import "~select2-bootstrap-5-theme/src/include-all";

main.position-relative {
  display: flex;
}

.page-wrapper {
  width: 100%;
}

body {
  background-color: #f7fafc;
}

.active-menu {
  background-color: #1a67a3;
}

.tblBtn {
  width: 75px;
}
