<app-contact-detail-container [type]="'receivable'">
  <form (ngSubmit)="getCuentasPorCobrar()" [formGroup]="queryForm" class="row row-cols-auto g-2 mb-2">
    <div class="col-auto">
      <label class="col-form-label fw-bold">Filtrar por:</label>
    </div>
    <div class="col-auto">
      <input type="number" formControlName="year" step="1" value="2021" style="width: 100px;" class="form-control">
    </div>
    <div class="col-auto">
      <select formControlName="status" class="form-select">
        <option value="PENDIENTE">PENDIENTE</option>
        <option value="COBRADO">COBRADO</option>
      </select>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-success">
        <fa-icon [icon]="faSearch" class="me-1"></fa-icon>
        <span class="text-uppercase">Buscar</span>
      </button>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-striped mb-0">
      <thead class="table-secondary">
      <tr class="text-uppercase">
        <th>Fecha</th>
        <th>Concepto</th>
        <th>Doc</th>
        <th>Cargo</th>
        <th>Vencido</th>
        <th>Saldo</th>
        <th>Vence</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of cuentasPorCobrar">
        <td>{{ item.createdAt|date }}</td>
        <td>{{ item.remark }}</td>
        <td>
          <ng-template
            [ngIf]="item.invoiceSale === '-'"
            [ngIfElse]="existeDoc">
            {{ item.document }}
          </ng-template>
          <ng-template #existeDoc>
            <a class="text-decoration-none" *ngIf="item.docType === 'NOTA'"
               [routerLink]="['/', 'cashier', 'ticket', item.invoiceSale]">
              {{ item.document }}
            </a>
            <a class="text-decoration-none" *ngIf="item.docType !== 'NOTA'"
               [routerLink]="['/', 'sales', 'invoice-sale-detail', item.invoiceSale]">
              {{ item.document }}
            </a>
          </ng-template>
        </td>
        <td>{{ item.cargo.toFixed(4)|currency }}</td>
        <td>{{ item.endDate|calcularDiasVencimiento }}</td>
        <td class="text-danger fw-bold">{{ item.saldo.toFixed(4)|currency }}</td>
        <td>{{ item.endDate|date }}</td>
      </tr>
      </tbody>
      <tfoot class="table-group-divider">
      <tr>
        <th colspan="3">&nbsp;</th>
        <th>{{ totalCargos|currency }}</th>
        <th>&nbsp;</th>
        <th>{{ totalSaldo|currency }}</th>
        <th>&nbsp;</th>
      </tr>
      </tfoot>
    </table>
  </div>
</app-contact-detail-container>
