<nav class="navbar navbar-expand navbar-dark" style="background-color: #323e72;">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/cashier/detail', cajaDiariaId]">
      <fa-icon [icon]="faQrcode" class="me-1"></fa-icon>
      <span class="text-uppercase">Terminal-1</span>
    </a>
    <div class="collapse navbar-collapse">
      <form class="d-none d-sm-block">
        <div class="input-group">
          <span class="input-group-text">
            <fa-icon [icon]="faBarcode"></fa-icon>
          </span>
          <input class="form-control" type="search" placeholder="Código de barra">
        </div>
      </form>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <fa-icon [icon]="faUserCircle"></fa-icon>
            <span class="ms-1">ADMIN</span>
          </a>
        </li>
        <li class="nav-item">
          <button class="nav-link btn btn-danger btn-sm px-4">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
            <span class="text-uppercase ms-1">Salir</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- ## Main Content -->
<div class="container-fluid px-0">
  <div class="store-body">
    <div class="card store-main">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <div class="input-group me-1">
              <span class="input-group-text">
                <fa-icon [icon]="faIdCardAlt"></fa-icon>
              </span>
              <select id="clientId" class="form-select"></select>
            </div>
            <button class="btn btn-success">
              <span class="text-uppercase">Nuevo</span>
            </button>
          </div>
          <div class="d-flex">
            <div class="dropdown me-1">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                <fa-icon [icon]="faBars" class="me-1"></fa-icon>
                <span class="fw-bold">Menú</span>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Lista de Ventas</a></li>
                <li><a class="dropdown-item" href="#">Gestión de efectivo</a></li>
                <li><a class="dropdown-item" href="#">Reportes</a></li>
              </ul>
            </div>
            <button class="btn btn-danger">
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr class="text-uppercase">
              <th>Descripción</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Descuento (%)</th>
              <th>Importe</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Vanilla Milkshake (sample)</td>
              <td>200.00</td>
              <td><input type="number" class="form-control form-control-sm"></td>
              <td><input type="number" step="0.5" class="form-control form-control-sm"></td>
              <td>200.00</td>
              <td class="text-end">
                <button class="btn btn-danger btn-sm">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
              </td>
            </tr>
            <tr>
              <td>Hamburger (sample)</td>
              <td>200.00</td>
              <td><input type="number" class="form-control form-control-sm"></td>
              <td><input type="number" step="0.5" class="form-control form-control-sm"></td>
              <td>200.00</td>
              <td class="text-end">
                <button class="btn btn-danger btn-sm">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
              </td>
            </tr>
            <tr>
              <td>French Fries (sample)</td>
              <td>200.00</td>
              <td><input type="number" class="form-control form-control-sm"></td>
              <td><input type="number" step="0.5" class="form-control form-control-sm"></td>
              <td>200.00</td>
              <td class="text-end">
                <button class="btn btn-danger btn-sm">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-between">
          <div>
            <span class="d-block cajero">Cajero</span>
            <span class="d-block user">Admin</span>
          </div>
          <table>
            <tbody>
            <tr>
              <th>Sub-Total:</th>
              <td>241.00</td>
            </tr>
            <tr>
              <th>IGV(18%):</th>
              <td>4.00</td>
            </tr>
            <tr>
              <th>ICBPER:</th>
              <td>0.00</td>
            </tr>
            </tbody>
          </table>
          <span class="text-uppercase text-lg total">Total</span>
          <div>
            <span class="d-block fw-bold text-lg text-center">200.00</span>
            <button (click)="btnVenderClick()" class="btn btn-success btn-lg">
              <span class="text-uppercase fw-bold px-5">Cobrar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card product-picker-res">
      <div class="card-body">
        <div class="d-flex pb-2 border-bottom">
          <div class="input-group me-2">
              <span class="input-group-text">
                <fa-icon [icon]="faSearch"></fa-icon>
              </span>
            <input type="search" [formControl]="queryProduct" (change)="searchProducts()"
                   class="form-control" placeholder="BIEN/SERVICIO">
          </div>
          <button type="button" (click)="addProductModal()" class="btn btn-success">
            <span class="text-uppercase">Nuevo</span>
          </button>
        </div>
        <div *ngFor="let item of products" class="item-product">
          <img
            src="http://localhost:5000/StaticFiles/{{item.pathImage}}" alt="">
          <table>
            <tbody>
            <tr>
              <td colspan="2" class="text-start">{{item.description}}</td>
            </tr>
            <tr>
              <th class="fw-normal">Precio:</th>
              <td class="fw-bold">{{item.price|currency}}</td>
            </tr>
            <tr>
              <th class="fw-normal">Stock:</th>
              <td>0</td>
            </tr>
            </tbody>
          </table>
          <button class="btn btn-primary btn-sm">
            <span class="text-uppercase">Seleccionar</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-product-modal
  [title]="'Agregar Producto'"
  [product]="currentProduct"
  (responseData)="hideProductModal($event)">
</app-product-modal>

<app-cobrar-modal></app-cobrar-modal>
<app-cash-in-out-modal></app-cash-in-out-modal>
