<div class="modal fade" data-bs-backdrop="static"
     data-bs-keyboard="false" id="item-comprobante" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <fa-icon [icon]="faBars" class="me-1"></fa-icon>
          <span class="text-uppercase">Agregar Item</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="itemComprobanteForm">
          <div class="mb-2">
            <label class="form-label">
              <span class="text-uppercase me-2">Producto/Servicio</span>
              <a href="#" (click)="showProductModal($event)" class="text-uppercase text-decoration-none">[ Agregar ]</a>
            </label>
            <select id="productId" class="form-select"></select>
          </div>
          <div class="mb-2">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              <span class="text-uppercase fw-bold ms-1">Impuesto a la Bolsa Plástica</span>
            </label>
          </div>
          <div class="row">
            <div class="col-4">
              <label class="form-label text-uppercase">Precio</label>
              <input type="number" formControlName="price" (change)="calcAmount()" step="0.1" class="form-control">
            </div>
            <div class="col-4">
              <label class="form-label text-uppercase">Cantidad</label>
              <input type="number" formControlName="quantity" (change)="calcAmount()" class="form-control">
            </div>
            <div class="col-4">
              <label class="form-label text-uppercase">Importe</label>
              <input type="number" formControlName="amount" step="0.1" class="form-control" readonly>
            </div>
          </div>
        </form>

        <pre>{{itemComprobanteForm.value|json}}</pre>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" (click)="saveChanges()" class="btn btn-primary text-uppercase">Agregar</button>
      </div>
    </div>
  </div>
</div>

<app-product-modal
  [title]="'Agregar Producto'"
  [product]="currentProduct">
</app-product-modal>
