<div class="modal fade" id="paymentModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase">Registrar Pago</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="paymentForm">
          <div class="row mb-3">
            <label class="col-3 col-form-label text-uppercase text-end">Empresa</label>
            <div class="col-6">
              <select class="form-select"></select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-3 col-form-label text-uppercase text-end">Desde</label>
            <div class="col-6">
              <input type="date" formControlName="desde" class="form-control"
                [ngClass]="{'is-invalid': inputIsInvalid('desde')}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-3 col-form-label text-uppercase text-end">Hasta</label>
            <div class="col-6">
              <input type="date" formControlName="hasta" class="form-control"
                [ngClass]="{'is-invalid': inputIsInvalid('hasta')}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-3 col-form-label text-uppercase text-end">Monto</label>
            <div class="col-6">
              <input type="number" formControlName="monto" step="0.1" class="form-control"
                [ngClass]="{'is-invalid': inputIsInvalid('monto')}">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <textarea class="form-control" formControlName="remark"
                placeholder="ESCRIBE AQUÍ TU COMENTARIO"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary text-uppercase btn-lg" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary text-uppercase btn-lg">Guardar</button>
      </div>
    </div>
  </div>
</div>
