<div class="card">
  <div class="card-header">
    <h5 class="text-uppercase fw-bold mb-0">Ingresar Orden de Reparación</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="repairOrderForm">
      <div class="row mb-3">
        <div class="col-12 col-md-3">
          <label class="form-label">
            <fa-icon [icon]="faUserAlt" class="me-1"></fa-icon>
            <span class="fw-bold">Crear/Buscar Cliente</span>
          </label>
          <div class="btn-group w-100" role="group">
            <button type="button" (click)="abrirModalContacto()" class="btn btn-primary">
              <fa-icon [icon]="faPlus" class="mx-1"></fa-icon>
              <span class="text-uppercase">Nuevo</span>
            </button>
            <button type="button" (click)="abrirModalBuscarContacto()" class="btn btn-success">
              <fa-icon [icon]="faSearch" class="mx-1"></fa-icon>
              <span class="text-uppercase">Buscar</span>
            </button>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <label class="form-label">
            <fa-icon [icon]="faIdCardAlt" class="me-1"></fa-icon>
            <span class="fw-bold">Razón Social:<span class="text-danger">*</span></span>
          </label>
          <input type="text" class="form-control bg-light" formControlName="nombreCliente"
                 [ngClass]="{'is-invalid': inputIsInvalid('nombreCliente')}" placeholder="Nombre o Razón Social Aquí!"
                 readonly>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">
          <fa-icon [icon]="faLaptop" class="me-1"></fa-icon>
          <span class="fw-bold">Datos del Equipo/Servicio:<span class="text-danger">*</span></span>
        </label>
        <input type="text" formControlName="datosEquipo" class="form-control"
               [ngClass]="{'is-invalid': inputIsInvalid('datosEquipo')}" placeholder="Información del Equipo Aquí!">
      </div>
      <div class="mb-3">
        <label class="form-label">
          <fa-icon [icon]="faScrewdriverWrench" class="me-1"></fa-icon>
          <span class="fw-bold">Diagnóstico/Solución del Equipo:<span class="text-danger">*</span></span>
        </label>
        <textarea class="form-control" formControlName="tareaRealizar"
                  [ngClass]="{'is-invalid': inputIsInvalid('tareaRealizar')}"
                  placeholder="Escriba aquí el diagnostico del equipo y la solución" rows="4"></textarea>
      </div>
      <div *ngIf="type === EnumTypeForm.EDIT" class="mb-3">
        <label class="form-label">
          <fa-icon [icon]="faBox" class="me-1"></fa-icon>
          <span class="fw-bold">Lista de Materiales Usados</span>
        </label>
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead class="table-primary">
            <tr class="text-uppercase">
              <th>Almacén</th>
              <th>Cant.</th>
              <th>Descripción</th>
              <th>Monto</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of itemsRepairOrder">
              <td>{{item.warehouseName}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.description}}</td>
              <td>{{item.monto.toFixed(4)|currency}}</td>
              <td>
                <div class="tblBtn ms-auto">
                  <button type="button" (click)="editarModalMaterial(item)" class="btn btn-secondary btn-sm me-2">
                    <fa-icon [icon]="faEdit"></fa-icon>
                  </button>
                  <button type="button" (click)="borrarModalMaterial(item.id)" class="btn btn-danger btn-sm">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-3">
          <label class="form-label">
            <fa-icon [icon]="faBoxesAlt" class="me-1"></fa-icon>
            <span class="fw-bold">Almacén:<span class="text-danger">*</span></span>
          </label>
          <select formControlName="warehouseId" class="form-select"
                  [ngClass]="{'is-invalid': inputIsInvalid('warehouseId')}">
            <option *ngFor="let item of almacenes" [value]="item.id">{{item.name}}</option>
          </select>
        </div>
        <div class="col-12 col-md-5">
          <label class="form-label">
            <fa-icon [icon]="faUserAlt" class="me-1"></fa-icon>
            <span class="fw-bold">Técnico Asignado a la Reparación:<span class="text-danger">*</span></span>
          </label>
          <select id="userTech" class="form-select" [ngClass]="{'is-invalid': inputIsInvalid('technicalId')}"></select>
        </div>
        <div class="col-12 col-md-3">
          <label class="form-label">
            <fa-icon [icon]="faFilter" class="me-1"></fa-icon>
            <span class="fw-bold">Estado:<span class="text-danger">*</span></span>
          </label>
          <select formControlName="status" class="form-select" [ngClass]="{'is-invalid': inputIsInvalid('status')}">
            <option>PENDIENTE</option>
            <option>EN PROCESO</option>
            <option>FINALIZADO</option>
            <option>ENTREGADO</option>
            <option>ARCHIVADO</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12 col-md-3">
          <label class="form-label">
            <fa-icon [icon]="faCoins" class="me-1"></fa-icon>
            <span class="fw-bold">Terminal de Venta:<span class="text-danger">*</span></span>
          </label>
          <select formControlName="invoiceSerieId" class="form-select"
                  [ngClass]="{'is-invalid': inputIsInvalid('invoiceSerieId')}">
            <option *ngFor="let item of invoiceSeries" [value]="item.id">{{item.name}}</option>
          </select>
        </div>
        <div class="col-12 col-md-3">
          <label class="form-label">
            <fa-icon [icon]="faCoins" class="me-1"></fa-icon>
            <span class="fw-bold">Monto Reparación:<span class="text-danger">*</span></span>
          </label>
          <input type="number" formControlName="repairAmount" class="form-control"
                 [ngClass]="{'is-invalid': inputIsInvalid('repairAmount')}" step="0.1">
        </div>
        <div class="col-12 col-md-6">
          <label class="form-label">
            <fa-icon [icon]="faCoins" class="me-1"></fa-icon>
            <span class="fw-bold">Monto Materiales</span>
          </label>
          <div class="row row-cols-auto g-2">
            <div class="col-6 col-md-auto">
              <button type="button" (click)="abrirModalMaterial()" class="btn btn-secondary w-100"
                      [disabled]="type === EnumTypeForm.ADD">
                <span class="text-uppercase"><span class="d-none d-md-inline">Registrar</span> Material</span>
              </button>
            </div>
            <div class="col-6 col-md-auto">
              <input type="number" step="0.1" [value]="montoTotalMateriales.toFixed(4)|currency" class="form-control bg-light"
                     readonly>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-center flex-column flex-md-row justify-con py-2">
      <button type="button" (click)="cancelar()" class="btn btn-warning btn-lg">
        <fa-icon [icon]="faCircleLeft"></fa-icon>
        <span class="text-uppercase ms-1">Cancelar</span>
      </button>
      <button type="button" (click)="saveChanges()" class="btn btn-primary btn-lg my-2 my-md-0 mx-md-2">
        <fa-icon [icon]="faSave"></fa-icon>
        <span class="text-uppercase ms-1">Guardar</span>
      </button>
      <button type="button" [routerLink]="['/', companyId, 'taller-reparaciones', 'ticket', repairOrderId]"
              class="btn btn-dark btn-lg"
              [disabled]="type === EnumTypeForm.ADD">
        <fa-icon [icon]="faPrint"></fa-icon>
        <span class="text-uppercase ms-1">Imprimir</span>
      </button>
    </div>
  </div>
</div>
<!-- #region CONTACTO -->
<app-contact-modal
  [contactDataModal]="contactDataModal"
  (responseData)="guardarContacto($event)">
</app-contact-modal>
<app-search-contact-modal
  (responseData)="seleccionarContacto($event)">
</app-search-contact-modal>
<!-- #endregion -->
<!-- #region MATERIALES -->
<app-material-repair-order-modal
  [itemRepairOrderDataModal]="itemRepairOrderDataModal"
  (responseData)="saveChangesDetail($event)">
</app-material-repair-order-modal>
<!-- #endregion -->
