<div class="d-flex justify-content-center mb-2">
  <div class="btn-group btn-group-lg" role="group">
    <a [routerLink]="['/', companyId, 'hoteles', 'recepcion', 'habitaciones-disponible']" routerLinkActive="active"
      class="btn btn-outline-primary">
      <fa-icon [icon]="faCircleRight" class="me-1"></fa-icon>
      <span class="text-uppercase">Disponible</span>
    </a>
    <a [routerLink]="['/', companyId, 'hoteles', 'recepcion', 'habitaciones-ocupado']" routerLinkActive="active"
      class="btn btn-outline-primary">
      <fa-icon [icon]="faTriangleExclamation" class="me-1"></fa-icon>
      <span class="text-uppercase">Ocupado</span>
    </a>
    <a [routerLink]="['/', companyId, 'hoteles', 'recepcion', 'habitaciones-limpieza']" routerLinkActive="active"
      class="btn btn-outline-primary">
      <fa-icon [icon]="faTrashAlt" class="me-1"></fa-icon>
      <span class="text-uppercase">Limpieza</span>
    </a>
  </div>
</div>
