<app-navbar></app-navbar>
<main class="position-relative">
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row px-2">
        <div class="col-12 bg-white my-2 py-3">
          <form (submit)="submitSearch($event)" class="row row-cols-auto g-2">
            <div class="col-auto">
              <label class="col-form-label fw-bold">Filtrar por:</label>
            </div>
            <div class="col-auto">
              <div class="input-group">
              <span class="input-group-text">
                <fa-icon [icon]="faFilter"></fa-icon>
              </span>
                <input type="search" [formControl]="query" class="form-control" placeholder="DOC/CONTACTO">
              </div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-success">
                <fa-icon [icon]="faSearch"></fa-icon>
                <span class="text-uppercase ms-1">Buscar</span>
              </button>
            </div>
            <div class="col-auto">
              <button type="button" (click)="openTerminal()" class="btn btn-primary">
                <fa-icon [icon]="faCashRegister"></fa-icon>
                <span class="text-uppercase ms-1">Terminal</span>
              </button>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-dark">
                <fa-icon [icon]="faChartBar"></fa-icon>
                <span class="text-uppercase ms-1">Reporte</span>
              </button>
            </div>
            <div class="col-auto">
              <button type="button" (click)="showCerrarCajaModal()" class="btn btn-danger">
                <fa-icon [icon]="faLock"></fa-icon>
                <span class="text-uppercase ms-1">Cerrar</span>
              </button>
            </div>
          </form>
        </div>
        <div class="col-12 bg-white py-3">
          <h5 class="fw-bold text-uppercase">Operaciones de Caja</h5>
          <div class="table-responsive">
            <table class="table table-striped mb-0">
              <thead>
              <tr class="text-uppercase">
                <th>Hora</th>
                <th>Documento</th>
                <th>Contacto</th>
                <th>Comentario</th>
                <th>F. Pago</th>
                <th>Monto</th>
                <td></td>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of cashierDetails">
                <td>{{item.hour}}</td>
                <td>
                  <ng-container *ngIf="item.typeOperation !== 'COMPROBANTE_DE_VENTA' else comprobante">
                    {{item.document}}
                  </ng-container>
                  <ng-template #comprobante>
                    <a [routerLink]="['/sales/invoice-sale-detail', item.invoiceSale]">{{item.document}}</a>
                  </ng-template>
                </td>
                <td>{{item.contact.split(':')[1]?.trim() || item.contact}}</td>
                <td>{{item.remark}}</td>
                <td class="text-uppercase">{{item.formaPago.split(':')[1]}}</td>
                <td class="fw-bold">
                  <span *ngIf="item.typeOperation === 'SALIDA_DE_DINERO'"
                        class="text-danger">{{item.amount.toFixed(2)}}</span>
                  <span *ngIf="item.typeOperation !== 'SALIDA_DE_DINERO'"
                        class="text-primary">{{item.amount.toFixed(2)}}</span>
                </td>
                <td class="text-end">
                  <button type="button" class="btn btn-danger btn-sm">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-cerrar-caja
  [cajaDiariaId]="cajaDiariaId"
  (responseData)="hideCerrarCajaModal($event)">
</app-cerrar-caja>
