<app-navbar></app-navbar>
<div class="Wrapper">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <div class="row px-2">
      <div class="col-12 bg-white my-2 py-3">
        <h5 class="fw-bold text-uppercase">Historial Registro de Inventarios</h5>
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
            <tr class="text-uppercase">
              <th>Fecha</th>
              <th>Producto</th>
              <th>Almacén</th>
              <th>Cantidad</th>
              <th>Observación</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>2021-11-18</td>
              <td>Impresora Epson TM-20II</td>
              <td>Almacén Principal</td>
              <td>10</td>
              <td>-</td>
            </tr>
            <tr>
              <td>2021-11-18</td>
              <td>Papel A4 Copy-Max</td>
              <td>Almacén Principal</td>
              <td>50</td>
              <td>-</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
