<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link" (click)="abrirWhatsapp($event)" href="#">
      <fa-icon [icon]="faCircleQuestion" class="text-success"></fa-icon>
      <span class="ms-1">Ayuda</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/account">
      <fa-icon [icon]="faUserCircle" class="me-1"></fa-icon>
      <span class="text-uppercase">{{ userAuth.userName }}</span>
    </a>
  </li>
  <li class="nav-item">
    <button (click)="logout()" class="nav-link btn btn-danger bg-danger btn-sm px-4">
      <fa-icon [icon]="faSignOutAlt" class="text-white me-1"></fa-icon>
      <span class="text-uppercase text-white">Salir</span>
    </button>
  </li>
</ul>
