<nav class="navbar navbar-expand-lg navbar-dark shadow-sm fs-5" style="background-color: #252f3f;">
  <div class="container">
    <a [routerLink]="['/', companyId, 'inventories', 'notas']" class="navbar-brand">
      <span class="d-flex align-items-center">
        <fa-icon [icon]="faCartFlatbed" class="me-1"></fa-icon>
        <span class="fw-bold">Inventarios</span>
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <app-dropdown-menu [companyId]="companyId"></app-dropdown-menu>
      </ul>
      <app-auth-navbar-nav></app-auth-navbar-nav>
    </div>
  </div>
</nav>
