<app-navbar></app-navbar>
<div class="Wrapper">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <div class="row px-2">
      <div class="col-12 bg-white shadow-sm my-2 py-3">
        <h5 class="text-uppercase">Emisión Nota Electrónica</h5>
        <hr>
        <form [formGroup]="invoiceNote" class="row">
          <div class="col-8">
            <div class="row mb-3">
              <label class="col-3 col-form-label text-end">Fecha Emisión</label>
              <div class="col-4">
                <input type="date" formControlName="startDate" class="form-control">
              </div>
              <label class="col-1 col-form-label text-end">Doc</label>
              <div class="col-4">
                <select formControlName="docType" class="form-select">
                  <option value="NC">Nota de Crédito</option>
                  <option value="ND">Nota de Débito</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-3 col-form-label text-end">Tipo Nota Créd/Déb</label>
              <div class="col-4">
                <select formControlName="codMotivo" class="form-select">
                  <ng-container *ngIf="invoiceNote.get('docType')?.value === 'NC'">
                    <option value="01">01 - Anulación de la operación</option>
                    <option value="02">02 - Anulación por error en el RUC</option>
                    <option value="03">03 - Corrección por error en la descripción</option>
                    <option value="04">04 - Descuento global</option>
                    <option value="05">05 - Descuento por ítem</option>
                    <option value="06">09 - Devolución total</option>
                    <option value="07">07 - Devolución por ítem</option>
                    <option value="08">08 - Bonificación</option>
                    <option value="09">09 - Disminución en el valor</option>
                    <option value="10">10 - Otros Conceptos</option>
                  </ng-container>
                  <ng-container *ngIf="invoiceNote.get('docType')?.value === 'ND'">
                    <option value="01">01 - Intereses por mora</option>
                    <option value="02">02 - Aumento en el valor</option>
                    <option value="03">03 - Penalidades/ otros conceptos</option>
                  </ng-container>
                </select>
              </div>
              <label class="col-1 col-form-label text-end">Serie</label>
              <div class="col-4">
                <div class="input-group">
                  <input type="text" formControlName="serie" class="form-control"
                         placeholder="F001" style="max-width: 70px;" readonly>
                  <span class="input-group-text fw-bold">#</span>
                  <input type="text" formControlName="number" class="form-control" placeholder="99999999" readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <label class="col-2 col-form-label text-end">Motivo de la Emisión</label>
              <div class="col-9">
                <input type="text" formControlName="desMotivo" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr class="text-uppercase">
                  <th>Cantidad</th>
                  <th>Descripción</th>
                  <th>Precio</th>
                  <th>Importe</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of invoiceNoteDetail">
                  <td>{{item.quantity}}</td>
                  <td>
                    <div class="d-flex justify-content-between">
                      <span class="text-uppercase">{{item.description}}</span>
                      <a href="#">
                        <fa-icon [icon]="faEdit"></fa-icon>
                      </a>
                    </div>
                  </td>
                  <td>{{item.price|currency}}</td>
                  <td>{{item.amount|currency}}</td>
                  <td class="text-end">
                    <button type="button" class="btn btn-danger btn-sm">
                      <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex align-items-stretch justify-content-between">
              <div class="w-50">
                <label class="form-label fw-bold">Observación</label>
                <textarea formControlName="remark" class="form-control"></textarea>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                  <tr>
                    <th class="bg-white">SubTotal</th>
                    <td class="bg-white">
                      <input type="number" [value]="invoiceNote.get('sumTotValVenta')?.value|currency"
                             class="text-end" readonly>
                    </td>
                  </tr>
                  <tr>
                    <th class="bg-white">IGV (18%)</th>
                    <td class="bg-white">
                      <input type="number" [value]="invoiceNote.get('sumTotTributos')?.value|currency"
                             class="text-end" readonly>
                    </td>
                  </tr>
                  <tr>
                    <th class="bg-white">ICBPER</th>
                    <td class="bg-white">
                      <input type="number" value="0.00" class="text-end" readonly>
                    </td>
                  </tr>
                  <tr>
                    <th class="bg-white">TOTAL</th>
                    <td class="bg-white">
                      <input type="number" [value]="invoiceNote.get('sumImpVenta')?.value|currency"
                             class="text-end" readonly>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
        <button type="button" (click)="showItemComprobanteModal()" class="btn btn-dark">
          <fa-icon [icon]="faPlus"></fa-icon>
          <span class="text-uppercase ms-1">Agregar Item Nota</span>
        </button>
      </div>
      <div class="d-flex justify-content-center bg-white shadow-sm mb-2 py-3">
        <button type="button" class="btn btn-danger btn-lg me-2">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
          <span class="text-uppercase ms-1">Cancelar</span>
        </button>
        <button type="button" class="btn btn-primary btn-lg">
          <fa-icon [icon]="faSave"></fa-icon>
          <span class="text-uppercase ms-1">Registrar</span>
        </button>
      </div>
    </div>

    <pre>{{invoiceNote.value|json}}</pre>
    <pre>{{invoiceNoteDetail|json}}</pre>
    <pre>{{invoice|json}}</pre>

  </div>
</div>

<app-item-comprobante
  (responseData)="hideItemComprobanteModal($event)">
</app-item-comprobante>
