<div class="modal fade" id="productStockModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
            <tr class="text-uppercase">
              <th>Almacén</th>
              <th>Cantidad</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of productStockInfos">
              <td>{{item.warehouseName}}</td>
              <td>{{item.quantity}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
