<app-account-container>
  <h4>Locales</h4>
  <div class="card mb-2">
    <div class="card-body">
      <h4>LOCAL PRINCIPAL</h4>
      <p class="mb-0">JR. GUILLERMO CACERES TRESIERRA 178</p>
      <div class="d-flex">
        <a [routerLink]="['/account/locales', 0, 'edit']" class="btn btn-secondary me-2">
          <fa-icon [icon]="faPenToSquare" class="me-1"></fa-icon>
          <span class="text-uppercase">Editar Local</span>
        </a>
      </div>
    </div>
  </div>
  <a routerLink="/account/locales/add" class="btn btn-success">
    <fa-icon [icon]="faCirclePlus" class="me-1"></fa-icon>
    <span class="text-uppercase">Agregar Local</span>
  </a>
</app-account-container>
