<nav class="navbar navbar-expand navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/cashier/detail', cajaDiaria.id]">
      <fa-icon [icon]="faThList" class="text-success me-1"></fa-icon>
      <span class="text-uppercase">{{title}}</span>
    </a>
    <div class="collapse navbar-collapse">
      <form class="d-none d-sm-block">
        <div class="input-group">
          <span class="input-group-text">
            <fa-icon [icon]="faBarcode"></fa-icon>
          </span>
          <input id="barcode" type="text" class="form-control" placeholder="[F2] Código de barra">
        </div>
      </form>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" (click)="$event.preventDefault()" href="#">
            <fa-icon [icon]="faUserCircle"></fa-icon>
            <span class="text-uppercase ms-1">{{authUser.userName}}</span>
          </a>
        </li>
        <li class="nav-item">
          <button (click)="logout()" class="nav-link btn btn-danger btn-sm px-4">
            <fa-icon [icon]="faSignOutAlt" class="text-white me-1"></fa-icon>
            <span class="text-uppercase text-white">Salir</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- ## Main Content -->
<div class="container-fluid px-0">
  <div class="store-body">
    <div class="card store-main">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <div class="input-group me-1">
              <span class="input-group-text">
                <fa-icon [icon]="faIdCardAlt"></fa-icon>
              </span>
              <select id="contactSelect" class="form-select"></select>
            </div>
            <button type="button" (click)="modalAgregarContacto()" class="btn btn-success">
              <span class="text-uppercase">Nuevo</span>
            </button>
          </div>
          <div class="d-flex">
            <button type="button" (click)="abrirModalCajaChica()" class="btn btn-warning me-1">
              <fa-icon [icon]="faCoins" class="me-1"></fa-icon>
              <span class="text-uppercase">E/S Dinero</span>
            </button>
            <button type="button" (click)="borrarVenta()" class="btn btn-danger">
              <fa-icon [icon]="faTimes"></fa-icon>
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr class="text-uppercase">
              <th>Descripción</th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Importe</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of generarVenta.detallesComprobante">
              <td>{{item.description}}</td>
              <td style="width: 124px;">
                <input type="number" [value]="item.quantity"
                       (change)="cambiarCantidad(item.productId, $event.target)"
                       class="form-control form-control-sm">
              </td>
              <td style="width: 124px;">
                <div class="d-flex align-items-center justify-content-between">
                  {{item.price.toFixed(4)|currency}}
                  <a href="#" (click)="cambiarPrecio($event, item.productId)" title="Cambiar precio!">
                    <fa-icon [icon]="faTags"></fa-icon>
                  </a>
                </div>
              </td>
              <td style="width: 124px;">{{item.amount.toFixed(4)|currency}}</td>
              <td style="width: 50px;" class="text-center">
                <button type="button" (click)="borrarItemVenta(item.productId)" class="btn btn-danger btn-sm">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-between">
          <div>
            <span class="d-block cajero">Cajero</span>
            <span class="d-block user">{{authUser.userName}}</span>
          </div>
          <table>
            <tbody>
            <tr>
              <th>IMPORTE:</th>
              <td>{{generarVenta.comprobante.sumTotValVenta.toFixed(4)|currency}}</td>
            </tr>
            <tr>
              <th>IGV({{generarVenta.configuration.porcentajeIgv|number}}%):</th>
              <td>{{generarVenta.comprobante.sumTotTributos.toFixed(4)|currency}}</td>
            </tr>
            <tr>
              <th>ICBPER:</th>
              <td>{{generarVenta.comprobante.sumTotTriIcbper.toFixed(4)|currency}}</td>
            </tr>
            </tbody>
          </table>
          <span class="text-uppercase text-lg total">Total</span>
          <div>
            <span
              class="d-block fw-bold text-lg text-center">{{generarVenta.comprobante.sumImpVenta.toFixed(4)|currency}}</span>
            <button (click)="abrirCobrarModal()" class="btn btn-success btn-lg">
              <span class="text-uppercase fw-bold px-5">Cobrar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card product-picker-res">
      <div class="card-body">
        <div class="d-flex pb-2 border-bottom">
          <div class="input-group me-2">
              <span class="input-group-text">
                <fa-icon [icon]="faSearch"></fa-icon>
              </span>
            <input type="search" [formControl]="queryProduct" (change)="buscarProductos()"
                   class="form-control" placeholder="BIEN/SERVICIO">
          </div>
          <button type="button" (click)="modalAgregarProducto()" class="btn btn-success">
            <span class="text-uppercase">Nuevo</span>
          </button>
        </div>
        <div *ngFor="let item of products" class="item-product">
          <img
            src="http://localhost:5000/StaticFiles/{{item.pathImage}}" alt="">
          <table>
            <tbody>
            <tr>
              <td colspan="2" class="text-start">{{item.description}}</td>
            </tr>
            <tr>
              <th class="fw-normal">Precio:</th>
              <td class="fw-bold">{{item.price1.toFixed(4)|currency}}</td>
            </tr>
            <tr>
              <th class="fw-normal">Stock:</th>
              <td>0</td>
            </tr>
            </tbody>
          </table>
          <button type="button" (click)="seleccionarProducto(item)" class="btn btn-primary btn-sm">
            <span class="text-uppercase">Seleccionar</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ### Toasts ### -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="toast-success" class="toast align-items-center text-white bg-success border-0" role="alert">
    <div class="d-flex">
      <div class="toast-body fw-bold">{{toastText}}</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
    </div>
  </div>
  <div id="toast-danger" class="toast align-items-center text-white bg-danger border-0" role="alert">
    <div class="d-flex">
      <div class="toast-body fw-bold">{{toastText}}</div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
    </div>
  </div>
</div>

<app-product-modal
  [title]="'Agregar Producto'"
  [product]="currentProduct"
  (responseData)="ocultarModalProducto($event)">
</app-product-modal>

<app-contact-modal
  [title]="'Agregar Contacto'"
  [contact]="currentContact"
  (responseData)="ocultarModalContacto($event)">
</app-contact-modal>

<app-caja-chica-modal
  [cajaDiariaId]="cajaDiaria.id"
  (responseData)="ocultarModalCajaChica($event)">
</app-caja-chica-modal>

<app-cobrar-modal
  [cajaDiariaId]="cajaDiaria.id" [generarVenta]="generarVenta"
  [modal]="cobrarModal" (responseData)="ocultarCobrarModal($event)">
</app-cobrar-modal>
<!-- ## DEBUG -->
<table class="table table-bordered">
  <tbody>
  <tr>
    <th>cajaDiaria</th>
    <td>
      <pre>{{cajaDiaria|json}}</pre>
    </td>
  </tr>
  <tr>
    <th>generarVenta</th>
    <td>
      <pre>{{generarVenta|json}}</pre>
    </td>
  </tr>
  </tbody>
</table>
