<div class="SidebarWrapper">
  <div class="WrapLink p-2">
    <a routerLink="/products">
      <div class="LinkItem">
        <fa-icon [icon]="faBox" class="me-1"></fa-icon>
        <span class="text-uppercase">Productos</span>
      </div>
    </a>
    <a routerLink="/cashier">
      <div class="LinkItem">
        <fa-icon [icon]="faCashRegister" class="me-1"></fa-icon>
        <span class="text-uppercase">Punto de Venta</span>
      </div>
    </a>
    <a routerLink="/contacts">
      <div class="LinkItem">
        <fa-icon [icon]="faRobot" class="me-1"></fa-icon>
        <span class="text-uppercase">Lista de Contactos</span>
      </div>
    </a>
    <a routerLink="/system">
      <div class="LinkItem">
        <fa-icon [icon]="faCogs" class="me-1"></fa-icon>
        <span class="text-uppercase">Opciones de Sistema</span>
      </div>
    </a>
  </div>
</div>

<!--
<div class="menu-wrapper d-print-none">
  <ul class="menubar">
    <li class="level-0" routerLinkActive="active-menu">
      <a routerLink="/contacts">
        <fa-icon [icon]="faAddressBook"></fa-icon>
        <span class="text-uppercase">Contacto</span>
      </a>
    </li>
    <li class="level-0" routerLinkActive="active-menu">
      <a routerLink="/products">
        <fa-icon [icon]="faBox"></fa-icon>
        <span class="text-uppercase">Producto</span>
      </a>
    </li>
    <li class="level-0" routerLinkActive="active-menu">
      <a routerLink="/cashier">
        <fa-icon [icon]="faCashRegister"></fa-icon>
        <span class="text-uppercase">Terminal</span>
      </a>
    </li>
    <li class="level-0" routerLinkActive="active-menu">
      <a (click)="$event.preventDefault()" href="#">
        <fa-icon [icon]="faArchive"></fa-icon>
        <span class="text-uppercase">Inventario</span>
      </a>
      <div class="submenu">
        <strong>Inventario</strong>
        <ul>
          <li class="level-1">
            <a routerLink="/inventory/transfer">Transferencias</a>
          </li>
          <li class="level-1">
            <a routerLink="/inventory/input-note">Nota de Ingreso</a>
          </li>
          <li class="level-1">
            <a routerLink="/inventory/output-note">Nota de Salida</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="level-0" routerLinkActive="active-menu">
      <a (click)="$event.preventDefault()" href="#">
        <fa-icon [icon]="faShoppingBasket"></fa-icon>
        <span class="text-uppercase">Compras</span>
      </a>
      <div class="submenu">
        <strong>Compras</strong>
        <ul>
          <li class="level-1">
            <a routerLink="/shopping">Comprobantes</a>
          </li>
          <li class="level-1">
            <a routerLink="/shopping/invoice-notes">Notas Créd/Débito</a>
          </li>
          <li class="level-1">
            <a routerLink="/shopping/account-payable">Cuentas por Pagar</a>
          </li>
        </ul>
      </div>
      <a routerLink="/invoice/purchase" class="d-none">&nbsp;</a>
      <a routerLink="/invoice/detail/purchase" class="d-none">&nbsp;</a>
      <a routerLink="/invoice/note/purchase" class="d-none">&nbsp;</a>
    </li>
    <li class="level-0" routerLinkActive="active-menu">
      <a (click)="$event.preventDefault()" href="#">
        <fa-icon [icon]="faWallet"></fa-icon>
        <span class="text-uppercase">Ventas</span>
      </a>
      <div class="submenu">
        <strong>Ventas</strong>
        <ul>
          <li class="level-1">
            <a routerLink="/sales">Comprobantes</a>
          </li>
          <li class="level-1">
            <a routerLink="/sales/invoice-notes">Notas Créd/Débito</a>
          </li>
          <li class="level-1">
            <a routerLink="/sales/account-receivable">Cuentas por Cobrar</a>
          </li>
        </ul>
      </div>
      <a routerLink="/invoice/sale" class="d-none">&nbsp;</a>
      <a routerLink="/invoice/detail/sale" class="d-none">&nbsp;</a>
      <a routerLink="/invoice/note/sale" class="d-none">&nbsp;</a>
    </li>
    <li class="level-0" routerLinkActive="active-menu">
      <a (click)="$event.preventDefault()" href="#">
        <fa-icon [icon]="faCogs"></fa-icon>
        <span class="text-uppercase">Sistema</span>
      </a>
      <div class="submenu">
        <strong>Sistema</strong>
        <ul>
          <li class="level-1">
            <a routerLink="/user">Lista de Usuarios</a>
          </li>
          <li class="level-1">
            <a routerLink="/system/configuration">Configurar Empresa</a>
          </li>
          <li class="level-1">
            <a routerLink="/system/warehouse">Lista de Almacenes</a>
          </li>
          <li class="level-1">
            <a routerLink="/system/invoice-serie">Series de Facturación</a>
          </li>
          <li class="level-1">
            <a routerLink="/system/inventory-reason">Motivos de Inventario</a>
          </li>
          <li class="level-1">
            <a routerLink="/products/category">Categoría de Productos</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
-->
