<div class="SidebarWrapper">
  <div class="WrapLink p-2">
    <a routerLink="/products">
      <div class="LinkItem">
        <fa-icon [icon]="faBox" class="me-1"></fa-icon>
        <span class="text-uppercase">Productos</span>
      </div>
    </a>
    <a routerLink="/cashier">
      <div class="LinkItem">
        <fa-icon [icon]="faCashRegister" class="me-1"></fa-icon>
        <span class="text-uppercase">Punto de Venta</span>
      </div>
    </a>
    <a routerLink="/contacts">
      <div class="LinkItem">
        <fa-icon [icon]="faUsers" class="me-1"></fa-icon>
        <span class="text-uppercase">Lista de Contactos</span>
      </div>
    </a>
    <a routerLink="/system">
      <div class="LinkItem">
        <fa-icon [icon]="faCogs" class="me-1"></fa-icon>
        <span class="text-uppercase">Opciones de Sistema</span>
      </div>
    </a>
  </div>
</div>
