<app-recepcion-container>
  <div class="row px-2">
    <div class="col-12 bg-white my-2 py-3">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="card-header fw-semibold text-uppercase mb-2">Datos de la habitación</div>
              <table class="table mb-0">
                <tbody>
                  <tr>
                    <th class="text-uppercase fw-semibold">Nombre</th>
                    <td class="text-primary text-end">208</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase fw-semibold">Tipo</th>
                    <td class="text-primary text-end">Simple/24hr</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase fw-semibold">Costo</th>
                    <td class="text-primary text-end">94.00</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase fw-semibold">Descuento</th>
                    <td class="text-primary text-end">10.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-4">
              <div class="card-header fw-semibold text-uppercase mb-2">Datos del Cliente</div>
              <table class="table mb-0">
                <tbody>
                  <tr>
                    <th class="text-uppercase fw-semibold">Nombre</th>
                    <td class="text-primary text-end">Cristian Alberto</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase fw-semibold">Documento</th>
                    <td class="text-primary text-end">40201245</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase fw-semibold">Teléfono</th>
                    <td class="text-primary text-end">984-154-141</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase fw-semibold">Correo</th>
                    <td class="text-primary text-end">user&#64;gmail.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-md-4">
              <div class="card-header fw-semibold text-uppercase mb-2">Datos Hospedaje</div>
              <table class="table mb-0">
                <tbody>
                  <tr>
                    <th class="text-uppercase fw-semibold">Fecha de Entrada</th>
                    <td class="text-primary text-end">2024-12-14</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase fw-semibold">Fecha de Salida</th>
                    <td class="text-primary text-end">2024-12-14</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase fw-semibold">Tiempo Estimado</th>
                    <td class="text-primary text-end">2024-12-14</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase fw-semibold">Tiempo Rebasado</th>
                    <td class="text-success fw-semibold text-end">Sin tiempo rebasado</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="card-header fw-semibold text-uppercase mb-2">Costo Alojamiento</div>
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr class="text-uppercase">
                  <th class="fw-semibold">Dinero Extra</th>
                  <th class="fw-semibold">Costo Calculado</th>
                  <th class="fw-semibold">Dinero Adelantado</th>
                  <th class="fw-semibold">Mora/Penalidad</th>
                  <th class="fw-semibold">Por Pagar</th>
                  <th class="fw-semibold">Responsable</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>10.00</td>
                  <td>170.00</td>
                  <td>50.00</td>
                  <td><input type="number" step="0.1"></td>
                  <td class="fw-bold">20.00</td>
                  <td>Eliot</td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="table-light">
                  <th colspan="4" class="fw-semibold text-uppercase text-end">Total a pagar</th>
                  <td><input type="number" step="0.1"></td>
                  <td>
                    <div class="input-group">
                      <span class="input-group-text">
                        <fa-icon [icon]="faCoins" class="mx-1"></fa-icon>
                      </span>
                      <select class="text-uppercase">
                        <option value="Contado:Yape">Yape</option>
                        <option value="Contado:Contado">Contado</option>
                        <option value="Contado:Depósito">Depósito</option>
                      </select>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 bg-white mb-2 py-3">
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-secondary btn-lg me-2">
          <fa-icon [icon]="faCircleLeft" class="me-1"></fa-icon>
          <span class="text-uppercase">Cancelar</span>
        </button>
        <button type="submit" form="#" class="btn btn-primary btn-lg">
          <fa-icon [icon]="faSave" class="me-1"></fa-icon>
          <span class="text-uppercase">Guardar</span>
        </button>
      </div>
    </div>
  </div>
</app-recepcion-container>
