<app-navbar></app-navbar>
<main class="position-relative">
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <div id="content" class="container-fluid">
      <div class="row px-2">
        <div class="d-flex align-items-center justify-content-between bg-white my-2 py-3">
          <h5 class="text-uppercase mb-0">{{invoice.docType|docTypeInvoice}}: {{invoice.serie}}-{{invoice.number}}</h5>
          <div class="d-flex d-print-none">
            <ng-container *ngIf="invoice.docType !== 'NOTA'">
              <button type="button" class="btn btn-danger me-2">
                <fa-icon [icon]="faTimes" class="me-1"></fa-icon>
                <span class="text-uppercase">Anular</span>
              </button>
              <button type="button" [routerLink]="['/invoice/note/purchase', invoice.id]" class="btn btn-primary me-2">
                <fa-icon [icon]="faStickyNote" class="me-1"></fa-icon>
                <span class="text-uppercase">Nota Electrónica</span>
              </button>
            </ng-container>
            <button type="button" (click)="print()" class="btn btn-success">
              <fa-icon [icon]="faPrint" class="me-1"></fa-icon>
              <span class="text-uppercase">Imprimir</span>
            </button>
          </div>
        </div>
        <div class="col-12 bg-white mb-2 py-3">
          <div class="table-responsive">
            <table class="table">
              <tbody>
              <tr>
                <th class="text-uppercase thWidth">Estado</th>
                <td>Cobrado</td>
              </tr>
              <tr>
                <th class="text-uppercase thWidth">Cliente</th>
                <td>{{invoice.numDocUsuario}} - {{invoice.rznSocialUsuario}}</td>
              </tr>
              <tr>
                <th class="text-uppercase thWidth">Fecha de emisión</th>
                <td>{{invoice.fecEmision|date}}</td>
              </tr>
              <tr>
                <th class="text-uppercase thWidth">Forma de Pago</th>
                <td>{{invoice.formaPago|formaPago}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr class="text-uppercase">
                <th>Cantidad</th>
                <th>Und. Med</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Impuestos</th>
                <th>V. Item</th>
                <th>ICBPER</th>
              </tr>
              </thead>
              <tbody>
              <!--<tr *ngFor="let item of invoice.invoiceDetails">
                <td>{{item.ctdUnidadItem}}</td>
                <td>{{item.codUnidadMedida}}</td>
                <td>{{item.desItem}}</td>
                <td>{{item.mtoPrecioVentaUnitario.toFixed(4)|currency}}</td>
                <td>{{item.nomTributoIgvItem}}({{item.porIgvItem|number}}%)</td>
                <td>{{item.mtoValorVentaItem.toFixed(4)|currency}}</td>
                <td>{{item.mtoTriIcbperItem.toFixed(4)|currency}}</td>
              </tr>-->
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end">
            <div class="table-responsive">
              <table class="table mb-0">
                <tbody>
                <tr>
                  <th class="bg-white text-end">IMPORTE</th>
                  <td class="bg-white">{{invoice.sumTotValVenta.toFixed(4)|currency}}</td>
                </tr>
                <tr>
                  <th class="bg-white text-end">IGV (18%)</th>
                  <td class="bg-white">{{invoice.sumTotTributos.toFixed(4)|currency}}</td>
                </tr>
                <tr>
                  <th class="bg-white text-end">TOTAL</th>
                  <td class="bg-white">{{invoice.sumImpVenta.toFixed(4)|currency}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- ## NOTAS CRÉDITO/DÉBITO ## -->
        <ng-container *ngIf="invoiceNotes.length > 0">
          <div class="col-12 bg-white mb-2 py-3">
            <div class="table-responsive">
              <table class="table mb-0">
                <thead>
                <tr class="text-uppercase">
                  <th>Tipo</th>
                  <th>Fecha</th>
                  <th>Documento</th>
                  <th>Código</th>
                  <th>Motivo</th>
                  <th>Total</th>
                  <th class="d-print-none"></th>
                </tr>
                </thead>
                <tbody class="text-uppercase">
                <tr *ngFor="let item of invoiceNotes">
                  <td>{{item.docType|noteType}}</td>
                  <td>{{item.fecEmision|date}}</td>
                  <td>{{item.serie}}-{{item.number}}</td>
                  <td>{{item.codMotivo}}</td>
                  <td>{{item.desMotivo}}</td>
                  <td>{{item.sumImpVenta.toFixed(4)|currency}}</td>
                  <td class="text-end d-print-none">
                    <div class="tblBtn ms-auto">
                      <button type="button" [routerLink]="['/invoice/note', this.invoiceType, item.invoiceId, item.id]"
                              class="btn btn-secondary btn-sm me-2">
                        <fa-icon [icon]="faEdit"></fa-icon>
                      </button>
                      <button type="button" class="btn btn-danger btn-sm">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                      </button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
      </div>
      <!-- $DEBUG -->
    </div>
  </div>
</main>
