<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
    <fa-icon [icon]="faShareNodes" class="me-1"></fa-icon>
    <span>Aplicaciones</span>
  </a>
  <ul class="dropdown-menu text-uppercase">
    <li><a class="dropdown-item" routerLink="/contacts">Contactos</a></li>
    <li><a class="dropdown-item" routerLink="/products">Productos</a></li>
    <li>
      <a class="dropdown-item" routerLink="/sales">Comprobantes</a>
    </li>
    <li>
      <a class="dropdown-item" routerLink="/receivables">Cuentas por Cobrar</a>
    </li>
    <li>
      <a class="dropdown-item" routerLink="/taller-reparaciones">Reparaciones</a>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li>
      <a class="dropdown-item" routerLink="/cashier">Punto de Venta</a>
    </li>
  </ul>
</li>
