<app-contact-detail-container [type]="'materiales'">
  <form [formGroup]="queryForm" (ngSubmit)="cargarMateriales()" class="row row-cols-auto g-2 mb-2">
    <div class="col-auto">
      <label class="col-form-label fw-bold">Filtrar por:</label>
    </div>
    <div class="col-auto">
      <input type="number" step="1" formControlName="year"
             value="2021" style="width: 100px;" class="form-control">
    </div>
    <div class="col-auto">
      <select formControlName="month" class="form-select">
        <option value="01">ENERO</option>
        <option value="02">FEBRERO</option>
        <option value="03">MARZO</option>
        <option value="04">ABRIL</option>
        <option value="05">MAYO</option>
        <option value="06">JUNIO</option>
        <option value="07">JULIO</option>
        <option value="08">AGOSTO</option>
        <option value="09">SEPTIEMBRE</option>
        <option value="10">OCTUBRE</option>
        <option value="11">NOVIEMBRE</option>
        <option value="12">DICIEMBRE</option>
      </select>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-success">
        <fa-icon [icon]="faSearch" class="me-1"></fa-icon>
        <span class="text-uppercase">Buscar</span>
      </button>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-striped mb-0">
      <thead class="table-primary">
      <tr class="text-uppercase">
        <th>Fecha</th>
        <th>Trabajador</th>
        <th>Estado</th>
        <th></th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr *ngFor="let item of materials">
        <td>{{ item.createdAt|date }}</td>
        <td>{{ item.employeeName }}</td>
        <td>{{ item.status }}</td>
        <td>
          <div class="tblBtn ms-auto">
            <button type="button" [routerLink]="['/', companyId, 'inventories', 'materiales', 'edit', item.id]"
                    class="btn btn-secondary btn-sm me-2">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button type="button" (click)="delete(item.id)" class="btn btn-danger btn-sm">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</app-contact-detail-container>
