<div class="modal fade" id="userModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-uppercase fs-5">{{ data.title }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="userForm">
          <div class="row mb-3">
            <label class="col-3 col-form-label text-end">Usuario</label>
            <div class="col-6">
              <input type="text" formControlName="userName" class="form-control"
                     [ngClass]="{'is-invalid': inputIsInvalid('userName')}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-3 col-form-label text-end">E-Mail</label>
            <div class="col-8">
              <input type="email" formControlName="email" class="form-control"
                     [ngClass]="{'is-invalid': inputIsInvalid('email')}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-3 col-form-label text-end">Rol</label>
            <div class="col-6">
              <select formControlName="userRole" class="form-select"
                      [ngClass]="{'is-invalid': inputIsInvalid('userRole')}">
                <option value="admin:user">ADMIN</option>
                <option value="user">USER</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-3 col-form-label text-end">Nombres</label>
            <div class="col-8">
              <input type="text" formControlName="fullName" class="form-control"
                     [ngClass]="{'is-invalid': inputIsInvalid('fullName')}">
            </div>
          </div>
          <div class="row">
            <label class="col-3 col-form-label text-end">Teléfono</label>
            <div class="col-6">
              <input type="text" formControlName="phoneNumber" class="form-control"
                     [ngClass]="{'is-invalid': inputIsInvalid('phoneNumber')}">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">
          <span class="text-uppercase">Cerrar</span>
        </button>
        <button type="button" (click)="saveChanges()" class="btn btn-primary btn-lg">
          <span class="text-uppercase">Guardar</span>
        </button>
      </div>
    </div>
  </div>
</div>
