<div class="modal fade" id="category-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase">{{title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="categoryForm">
          <label class="form-label text-uppercase">Nombre</label>
          <input type="text" formControlName="name" class="form-control"
                 [ngClass]="{'is-invalid': inputIsInvalid('name')}">
        </form>
      </div>
      <div class="modal-footer bg-light">
        <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" (click)="saveChanges()" class="btn btn-primary text-uppercase">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
