<app-receivable-container>
  <div class="row px-2">
    <div class="col-12 bg-white my-2 py-3">
      <form (ngSubmit)="cargarCuentasPorCobrar()" [formGroup]="queryForm" class="row row-cols-auto g-2">
        <div class="col-12 col-lg-auto">
          <label class="col-form-label fw-bold">Filtrar por:</label>
        </div>
        <div class="col-4 col-md-2 col-lg-auto">
          <input type="number" formControlName="year" step="1" value="2021" style="width: 100px;" class="form-control">
        </div>
        <div class="col-4 col-lg-auto">
          <select formControlName="month" class="form-select">
            <option value="01">ENERO</option>
            <option value="02">FEBRERO</option>
            <option value="03">MARZO</option>
            <option value="04">ABRIL</option>
            <option value="05">MAYO</option>
            <option value="06">JUNIO</option>
            <option value="07">JULIO</option>
            <option value="08">AGOSTO</option>
            <option value="09">SEPTIEMBRE</option>
            <option value="10">OCTUBRE</option>
            <option value="11">NOVIEMBRE</option>
            <option value="12">DICIEMBRE</option>
          </select>
        </div>
        <div class="col-4 col-lg-auto">
          <select formControlName="status" class="form-select">
            <option value="PENDIENTE">PENDIENTE</option>
            <option value="COBRADO">COBRADO</option>
          </select>
        </div>
        <div class="col-6 col-lg-auto">
          <button type="submit" class="btn btn-success w-100">
            <fa-icon [icon]="faSearch" class="me-1"></fa-icon>
            <span class="text-uppercase">Buscar</span>
          </button>
        </div>
        <div class="col-6 col-lg-auto">
          <button type="button" (click)="agregarCargo()" class="btn btn-primary w-100">
            <fa-icon [icon]="faPlus" class="me-1"></fa-icon>
            <span class="text-uppercase">Cargo</span>
          </button>
        </div>
        <div class="col-6 col-lg-auto">
          <button type="button" class="btn btn-warning w-100"
            [routerLink]="['/', companyId, 'receivables', 'pendientes-por-cobrar']">
            <fa-icon [icon]="faChartBar" class="me-1"></fa-icon>
            <span class="text-uppercase">Resumen</span>
          </button>
        </div>
      </form>
    </div>
    <div class="col-12 bg-white py-2 mb-2">
      <div class="table-responsive">
        <table class="table table-striped mb-0">
          <thead class="text-uppercase">
            <tr>
              <th colspan="9">
                <span class="text-danger-emphasis">{{ companyName }} | Cuentas por Cobrar</span>
              </th>
            </tr>
            <tr class="table-primary">
              <th>Fecha</th>
              <th>Contacto</th>
              <th>Concepto</th>
              <th>Doc</th>
              <th>Cargo</th>
              <th>Vencido</th>
              <th>Saldo</th>
              <th>Vence</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let item of cuentasPorCobrar.data">
              <td>{{ item.createdAt|date }}</td>
              <td>
                <a class="text-decoration-none"
                  [routerLink]="['/', companyId, 'contacts', 'detail', item.contactId, 'receivable']">{{
                  item.contactName }}</a>
              </td>
              <td>{{ item.remark }}</td>
              <td>
                <ng-template [ngIf]="item.invoiceSale === '-'" [ngIfElse]="existeDoc">
                  {{ item.document }}
                </ng-template>
                <ng-template #existeDoc>
                  <a class="text-decoration-none" *ngIf="item.docType === 'NOTA'"
                    [routerLink]="['/', companyId, 'cashier', 'ticket', item.invoiceSale]">
                    {{ item.document }}
                  </a>
                  <a class="text-decoration-none" *ngIf="item.docType !== 'NOTA'"
                    [routerLink]="['/', companyId, 'sales', 'invoice-sale-detail', item.invoiceSale]">
                    {{ item.document }}
                  </a>
                </ng-template>
              </td>
              <td>{{ item.cargo.toFixed(4)|currency }}</td>
              <td>{{ item.endDate|calcularDiasVencimiento }}</td>
              <td>
                <div class="d-flex justify-content-between">
                  <span class="fw-bold text-danger">{{ item.saldo.toFixed(4)|currency }}</span>
                  <button (click)="showAbonoDetail(item)" class="btn btn-link btn-sm shadow-none p-0">
                    <fa-icon [icon]="faEye"></fa-icon>
                  </button>
                </div>
              </td>
              <td>{{ item.endDate|date }}</td>
              <td>
                <div style="width: 115px;" class="ms-auto">
                  <button (click)="agregarAbono(item)" class="btn btn-success btn-sm me-2">
                    <fa-icon [icon]="faCoins"></fa-icon>
                  </button>
                  <button type="button" (click)="editarCargo(item)" class="btn btn-secondary btn-sm me-2">
                    <fa-icon [icon]="faEdit"></fa-icon>
                  </button>
                  <button type="button" (click)="deleteCargo(item.id)" class="btn btn-danger btn-sm">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="table-group-divider">
              <th colspan="4">
                <ul class="pagination fw-bold mb-0">
                  <li class="page-item" [ngClass]="{'disabled': cuentasPorCobrar.pagination.previousPage === null}">
                    <a class="page-link" [routerLink]="['/', companyId, 'receivables']"
                      [queryParams]="{page: cuentasPorCobrar.pagination.previousPage}">Anterior</a>
                  </li>
                  <li *ngFor="let item of cuentasPorCobrar.pagination.pages" class="page-item"
                    [ngClass]="{'active': cuentasPorCobrar.pagination.currentPage === item.page}">
                    <a class="page-link" [routerLink]="['/', companyId, 'receivables']"
                      [queryParams]="{page: item.page}">{{item.page}}</a>
                  </li>
                  <li class="page-item" [ngClass]="{'disabled': cuentasPorCobrar.pagination.nextPage === null}">
                    <a class="page-link" [routerLink]="['/', companyId, 'receivables']"
                      [queryParams]="{page: cuentasPorCobrar.pagination.nextPage}">Siguiente</a>
                  </li>
                </ul>
              </th>
              <th>{{ totalCargo|currency }}</th>
              <th>&nbsp;</th>
              <th>{{ totalSaldo|currency }}</th>
              <th colspan="2">&nbsp;</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</app-receivable-container>

<app-cargo-modal [cargoDataModal]="cargoDataModal" (responseData)="saveChangesCargo($event)">
</app-cargo-modal>
<app-abono-modal [cargoId]="currentCargoId" (responseData)="hideAbonoModal($event)">
</app-abono-modal>
<app-abono-detail [companyId]="companyId" [cargoDetail]="cargoDetail" (responseData)="responseAbonoDetail($event)">
</app-abono-detail>
