<app-company-detail-container>
  <div class="table-responsive">
    <table class="table table-striped mb-2">
      <thead>
      <tr class="table-primary text-uppercase">
        <th>Usuario</th>
        <th>E-Mail</th>
        <th>Rol</th>
        <th></th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr *ngFor="let item of collaborators">
        <td>{{ item.userName }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.userRole }}</td>
        <td>
          <div class="tblBtn ms-auto">
            <button type="button" [disabled]="item.userRole === 'owner'"
                    (click)="cambiarRolShow(item)" class="btn btn-secondary btn-sm me-2">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button type="button" [disabled]="item.userRole === 'owner'"
                    (click)="borrarColaborador(item.collaboratorId)" class="btn btn-danger btn-sm">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <button type="submit" (click)="showInvitarModal()" class="btn btn-success">
      <fa-icon [icon]="faUserPlus"></fa-icon>
      <span class="text-uppercase ms-1">Invitar</span>
    </button>
  </div>
</app-company-detail-container>

<div class="modal fade" id="cambiarRolModal" tabindex="-1">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <label class="form-label fw-bold">Cambiar Rol</label>
        <select [formControl]="userRole" class="form-select">
          <option value="admin">Admin</option>
          <option value="user">User</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="guardarNuevoRol()" class="btn btn-primary btn-lg w-100">
          <fa-icon [icon]="faSave" class="me-1"></fa-icon>
          <span class="text-uppercase">Guardar</span>
        </button>
      </div>
    </div>
  </div>
</div>

<app-loader [loading]="loading"></app-loader>

<app-collaborator-add-modal
  [companyId]="companyId"
  (responseData)="invitarColaborador($event)">
</app-collaborator-add-modal>
