<div class="WrapLogin">
  <form class="FormLogin" (submit)="authLogin()">
    <div class="card">
      <div class="card-body">
        <h5 class="text-uppercase text-center">Bienvenido</h5>
        <div class="mb-3">
          <div class="input-group input-group-lg">
            <span class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></span>
            <input type="text" name="userName" [(ngModel)]="user.userName" class="form-control"
                   placeholder="Nombre usuario">
          </div>
        </div>
        <div class="input-group input-group-lg">
          <span class="input-group-text"><fa-icon [icon]="faLock"></fa-icon></span>
          <input type="password" name="password" [(ngModel)]="user.password" class="form-control"
                 placeholder="Contraseña">
        </div>
      </div>
      <div class="card-footer d-flex flex-column align-items-center">
        <button type="submit" class="btn btn-dark btn-lg my-2 w-100">
          <fa-icon [icon]="faSignInAlt"></fa-icon>
          <span class="text-uppercase ms-1">Iniciar Sesión</span>
        </button>
        <div>
          <a class="text-uppercase" href="#">Recuperar Cuenta</a>
          <span class="mx-1">|</span>
          <a class="text-uppercase" routerLink="/public/user/register">Registrar Cuenta</a>
        </div>
      </div>
    </div>
  </form>
</div>
