<app-navbar></app-navbar>
<main class="position-relative">
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row px-2">
        <div class="col-12 bg-white my-2 py-3">
          <form [formGroup]="queryForm" (ngSubmit)="submitQuery()"
                class="row row-cols-auto g-2">
            <div class="col-auto">
              <label class="col-form-label fw-bold">Filtrar por:</label>
            </div>
            <div class="col-auto">
              <input type="number" formControlName="year" class="form-control">
            </div>
            <div class="col-auto">
              <select formControlName="month" class="form-select">
                <option value="01">ENERO</option>
                <option value="02">FEBRERO</option>
                <option value="03">MARZO</option>
                <option value="04">ABRIL</option>
                <option value="05">MAYO</option>
                <option value="06">JUNIO</option>
                <option value="07">JULIO</option>
                <option value="08">AGOSTO</option>
                <option value="09">SEPTIEMBRE</option>
                <option value="10">OCTUBRE</option>
                <option value="11">NOVIEMBRE</option>
                <option value="12">DICIEMBRE</option>
              </select>
            </div>
            <div class="col-auto">
              <select formControlName="query" class="form-select">
                <option value="PENDIENTE">PENDIENTE</option>
                <option value="COBRADO">COBRADO</option>
                <option value="ANULADO">ANULADO</option>
              </select>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-success">
                <fa-icon [icon]="faSearch"></fa-icon>
                <span class="text-uppercase ms-1">Buscar</span>
              </button>
            </div>
          </form>
        </div>
        <div class="col-12 bg-white py-3">
          <h5 class="fw-bold text-uppercase">Listado de Cuentas por Pagar</h5>
          <div class="table-responsive">
            <table class="table table-striped mb-0">
              <thead>
              <tr class="text-uppercase">
                <th>Documento</th>
                <th>Cuota</th>
                <th>Vencimiento</th>
                <th>Días Mora</th>
                <th>Pagar</th>
                <th>Estado</th>
                <th>Monto</th>
                <th>Saldo</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of invoiceAccounts">
                <td>
                  <a [routerLink]="['/invoice/detail', item.invoiceId]">{{item.serie}}-{{item.number}}</a>
                </td>
                <td>{{item.cuota}}</td>
                <td>{{item.endDate|date}}</td>
                <td>{{diasMora(item.endDate)}}</td>
                <td class="text-start">
                  <button type="button" class="btn btn-primary btn-sm">
                    <fa-icon [icon]="faCoins" class="me-1"></fa-icon>
                    <span class="text-uppercase">Pagar</span>
                  </button>
                </td>
                <td>{{item.status}}</td>
                <td>{{item.amount.toFixed(4)|currency}}</td>
                <td>{{item.balance.toFixed(4)|currency}}</td>
                <td class="text-end">
                  <div class="actions ms-auto">
                    <button type="button" class="btn btn-secondary btn-sm me-2">
                      <fa-icon [icon]="faEdit"></fa-icon>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm">
                      <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <pre>{{invoiceAccounts|json}}</pre>

    </div>
  </div>
</main>
