<app-contact-container>
  <div class="row px-2">
    <div class="col-12 bg-white my-2 py-3">
      <h5 class="text-uppercase">{{ contact.document }} - {{ contact.name }}</h5>
      <div class="row">
        <div class="col-12 col-md-3 mb-2">
          <div class="list-group fs-5">
            <a [routerLink]="['/', 'contacts', 'detail', contact.id, 'receivable']"
               routerLinkActive="active"
               class="list-group-item list-group-item-action">
              <fa-icon [icon]="faCreditCard" class="me-1"></fa-icon>
              <span>Cuentas por Cobrar</span>
            </a>
            <a [routerLink]="['/', 'contacts', 'detail', contact.id, 'ventas']"
               routerLinkActive="active"
               class="list-group-item list-group-item-action">
              <fa-icon [icon]="faFolderOpen" class="me-1"></fa-icon>
              <span>Registro de Ventas</span>
            </a>
            <a [routerLink]="['/', 'contacts', 'detail', contact.id, 'dinero']"
               routerLinkActive="active"
               class="list-group-item list-group-item-action">
              <fa-icon [icon]="faCoins" class="me-1"></fa-icon>
              <span>Entrada/Salida Dinero</span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</app-contact-container>
