<app-navbar></app-navbar>
<div class="Wrapper">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <div class="row px-2">
      <div class="col-12 bg-white my-2 py-3">
        <form (submit)="submitSearch($event)" class="row row-cols-auto g-2">
          <div class="col-auto">
            <label class="col-form-label fw-bold">Filtrar por:</label>
          </div>
          <div class="col-auto">
            <div class="input-group">
              <span class="input-group-text">
                <fa-icon [icon]="faFilter"></fa-icon>
              </span>
              <input type="search" [formControl]="query" class="form-control" placeholder="BIEN/SERVICIO">
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success">
              <fa-icon [icon]="faSearch"></fa-icon>
              <span class="text-uppercase ms-1">Buscar</span>
            </button>
          </div>
          <div class="col-auto">
            <button type="button" (click)="addProduct()" class="btn btn-primary">
              <fa-icon [icon]="faPlus"></fa-icon>
              <span class="text-uppercase ms-1">Agregar</span>
            </button>
          </div>
        </form>
      </div>
      <div class="col-12 bg-white py-3">
        <h5 class="fw-bold text-uppercase">Lista de Productos</h5>
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
            <tr class="text-uppercase">
              <th>GS1/GTIN</th>
              <th>Tipo</th>
              <th>Descripción</th>
              <th>Stock</th>
              <th>Precio</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of products.data">
              <td>{{item.barcode}}</td>
              <td>{{item.type}}</td>
              <td>{{item.description}}</td>
              <td>
                <button class="btn btn-info btn-sm">
                  <fa-icon [icon]="faSearch"></fa-icon>
                </button>
              </td>
              <td>{{item.price}}</td>
              <td>
                <div class="actions ms-auto">
                  <button type="button" class="btn btn-secondary btn-sm me-2">
                    <fa-icon [icon]="faEdit"></fa-icon>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-product-modal [title]="title"></app-product-modal>
