<app-navbar></app-navbar>
<div class="Wrapper">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <div class="row px-2">
      <div class="col-12 bg-white my-2 py-3">
        <form class="row row-cols-auto g-2">
          <div class="col-auto">
            <label class="col-form-label fw-bold">Filtrar por:</label>
          </div>
          <div class="col-auto">
            <input type="number" step="1" class="form-control">
          </div>
          <div class="col-auto">
            <select class="form-select">
              <option value="01">ENERO</option>
              <option value="02">FEBRERO</option>
              <option value="03">MARZO</option>
              <option value="04">ABRIL</option>
              <option value="05">MAYO</option>
              <option value="06">JUNIO</option>
              <option value="07">JULIO</option>
              <option value="08">AGOSTO</option>
              <option value="09">SEPTIEMBRE</option>
              <option value="10">OCTUBRE</option>
              <option value="11">NOVIEMBRE</option>
              <option value="12">DICIEMBRE</option>
            </select>
          </div>
          <div class="col-auto">
            <input type="search" class="form-control" placeholder="CLIENTE...">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success">
              <fa-icon [icon]="faSearch"></fa-icon>
              <span class="text-uppercase ms-1">Buscar</span>
            </button>
          </div>
          <div class="col-auto">
            <button type="button" routerLink="/invoice/note" class="btn btn-primary">
              <fa-icon [icon]="faPlus"></fa-icon>
              <span class="text-uppercase ms-1">Agregar</span>
            </button>
          </div>
        </form>
      </div>
      <div class="col-12 bg-white py-3">
        <h5 class="fw-bold text-uppercase">Listado de Notas Crédito/Débito</h5>
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
            <tr class="text-uppercase">
              <th>Tipo</th>
              <th>Documento</th>
              <th>Cliente</th>
              <th>Fecha</th>
              <th>Estado</th>
              <th>Total</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>BOLETA</td>
              <td>B001-4500</td>
              <td class="text-uppercase">MAXIMILIANO RIVAS ZEVALLOS</td>
              <td>2021-07-31</td>
              <td><span class="badge bg-success">PAGADO</span></td>
              <td>50.00</td>
              <td>
                <div class="actions ms-auto">
                  <button type="button" class="btn btn-secondary btn-sm me-2">
                    <fa-icon [icon]="faEdit"></fa-icon>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
