<nav class="navbar navbar-expand navbar-light bg-light shadow-sm d-print-none">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">
      <fa-icon [icon]="faThList" class="text-success me-1"></fa-icon>
      <span class="text-uppercase">{{companyName || 'DEMO S.A.C.'}}</span>
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="$event.preventDefault()">
            <fa-icon [icon]="faUserCircle" class="me-1"></fa-icon>
            <span class="text-uppercase">{{authUser.userName}}</span>
          </a>
        </li>
        <li class="nav-item">
          <button (click)="logout()" class="nav-link btn btn-danger btn-sm px-4">
            <fa-icon [icon]="faSignOutAlt" class="text-white me-1"></fa-icon>
            <span class="text-uppercase text-white">Salir</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
