<div class="modal fade" id="cash-in-out-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase">
          <fa-icon [icon]="faBars"></fa-icon>
          <span class="ms-1">Entrada/Salida de Dinero</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cajaChicaForm">
          <div class="row mb-3">
            <label class="col-3 col-form-label-sm text-uppercase text-end">Tipo</label>
            <div class="col-4">
              <select formControlName="type" class="form-select">
                <option value="Ingreso">ENTRADA</option>
                <option value="Egreso">SALIDA</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-3 col-form-label-sm text-uppercase text-end">Monto</label>
            <div class="col-4">
              <input type="number" formControlName="total" step="0.01" class="form-control">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-3 col-form-label-sm text-uppercase text-end">Contacto</label>
            <div class="col-9">
              <select id="contactId" class="form-select"></select>
            </div>
          </div>
          <div class="row">
            <label class="col-3 col-form-label-sm text-uppercase text-end">Glosa</label>
            <div class="col-sm-9">
              <textarea formControlName="glosa" class="form-control"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" (click)="saveChanges()" class="btn btn-primary text-uppercase">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
