<div class="modal fade" id="cash-in-out-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase">
          <fa-icon [icon]="faBars"></fa-icon>
          <span class="ms-1">Entrada/Salida de Dinero</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <label class="col-3 col-form-label-sm text-uppercase text-end">Tipo</label>
          <div class="col-4">
            <select class="form-select">
              <option value="ENTRADA">ENTRADA</option>
              <option value="SALIDA">SALIDA</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-3 col-form-label-sm text-uppercase text-end">Monto</label>
          <div class="col-4">
            <input type="number" step="0.01" class="form-control">
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-3 col-form-label-sm text-uppercase text-end">Persona</label>
          <div class="col-9">
            <select class="form-select">
              <option value="0">PERSONA 1</option>
              <option value="0">PERSONA 2</option>
            </select>
          </div>
        </div>
        <div class="row">
          <label class="col-3 col-form-label-sm text-uppercase text-end">Glosa</label>
          <div class="col-sm-9">
            <textarea class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary text-uppercase">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
