<app-cashier-container>
  <div class="row px-2">
    <div class="col-12 bg-white my-2 py-3">
      <form (submit)="submitSearch($event)" class="row row-cols-auto g-2">
        <div class="col-auto">
          <label class="col-form-label fw-bold">Filtrar por:</label>
        </div>
        <div class="col-12 col-lg-auto">
          <div class="input-group">
            <span class="input-group-text">
              <fa-icon [icon]="faFilter"></fa-icon>
            </span>
            <input type="search" [formControl]="query" class="form-control" placeholder="DOC/CONTACTO">
          </div>
        </div>
        <div class="col-6 col-md-3 col-lg-auto">
          <button type="submit" class="btn btn-success w-100">
            <fa-icon [icon]="faSearch"></fa-icon>
            <span class="text-uppercase ms-1">Buscar</span>
          </button>
        </div>
        <div class="col-6 col-md-3 col-lg-auto">
          <button type="button" (click)="openQuickSale()" [disabled]="isCajaCerrada()" class="btn btn-primary w-100">
            <fa-icon [icon]="faWallet"></fa-icon>
            <span class="text-uppercase ms-1">Venta Rápida</span>
          </button>
        </div>
        <div class="col-6 col-md-3 col-lg-auto">
          <button type="button" (click)="abrirModalCajaChica()" [disabled]="isCajaCerrada()"
            class="btn btn-warning w-100 me-1">
            <fa-icon [icon]="faCoins" class="me-1"></fa-icon>
            <span class="text-uppercase">E/S Dinero</span>
          </button>
        </div>
        <div class="col-6 col-md-3 col-lg-auto">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">
              <fa-icon [icon]="faChartBar" class="me-1"></fa-icon>
              <span class="text-uppercase">Reportes</span>
            </button>
            <ul class="dropdown-menu">
              <li class="text-uppercase">
                <a class="dropdown-item" (click)="reporteCaja($event)" href="#">Resumen Caja</a>
              </li>
              <li class="text-uppercase">
                <a class="dropdown-item"
                  [routerLink]="['/', companyId, 'cashier', 'product-report', cajaDiaria.id]">Lista de Productos</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-md-3 col-lg-auto">
          <button type="button" (click)="showCerrarCajaModal()" [disabled]="isCajaCerrada()"
            class="btn btn-danger w-100">
            <fa-icon [icon]="faLock"></fa-icon>
            <span class="text-uppercase ms-1">Cerrar</span>
          </button>
        </div>
      </form>
    </div>
    <div class="col-12 bg-white py-2">
      <div class="table-responsive">
        <table class="table table-striped mb-2">
          <thead>
            <tr>
              <th class="text-danger-emphasis" colspan="7">
                <fa-icon [icon]="faFolderTree" class="me-1"></fa-icon>
                {{ cajaDiaria.createdAt|date }}
                <span class="mx-1">|</span>
                <span class="text-uppercase">Operaciones de Caja</span>
                <span class="mx-1">|</span>
                {{ cajaDiaria.terminal }}
              </th>
            </tr>
            <tr class="table-primary text-uppercase">
              <th>Hora</th>
              <th>Documento</th>
              <th>Contacto</th>
              <th>Comentario</th>
              <th>F. Pago</th>
              <th>Monto</th>
              <td></td>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let item of cashierDetails.data">
              <td>{{ item.hour }}</td>
              <td>
                <ng-container *ngIf="item.typeOperation !== 'COMPROBANTE_DE_VENTA' else comprobante">
                  {{ item.document }}
                </ng-container>
                <ng-template #comprobante>
                  <a class="text-decoration-none"
                    [routerLink]="['/', companyId, 'cashier', 'ticket', item.invoiceSaleId]">{{ item.document }}</a>
                </ng-template>
              </td>
              <td>{{ item.contactName }}</td>
              <td>{{ item.remark }}</td>
              <td class="text-uppercase">{{ item.formaPago.split(':')[1] }}</td>
              <td class="fw-bold">
                <span *ngIf="item.typeOperation === 'SALIDA_DE_DINERO'" class="text-danger">{{
                  item.amount.toFixed(4)|currency }}</span>
                <span *ngIf="item.typeOperation !== 'SALIDA_DE_DINERO'" class="text-primary">{{
                  item.amount.toFixed(4)|currency }}</span>
              </td>
              <td class="text-end">
                <button type="button" (click)="borrarDetalleCaja(item)" class="btn btn-danger btn-sm">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <nav class="d-flex justify-content-center mb-1">
          <ul class="pagination fw-bold mb-0">
            <li class="page-item" [ngClass]="{'disabled': cashierDetails.pagination.previousPage === null}">
              <a class="page-link" [routerLink]="['/', companyId, 'cashier', 'detail', cajaDiaria.id]"
                [queryParams]="{page: cashierDetails.pagination.previousPage}">Anterior</a>
            </li>
            <li *ngFor="let item of cashierDetails.pagination.pages" class="page-item"
              [ngClass]="{'active': cashierDetails.pagination.currentPage === item.page}">
              <a class="page-link" [routerLink]="['/', companyId, 'cashier', 'detail', cajaDiaria.id]"
                [queryParams]="{page: item.page}">{{item.page}}</a>
            </li>
            <li class="page-item" [ngClass]="{'disabled': cashierDetails.pagination.nextPage === null}">
              <a class="page-link" [routerLink]="['/', companyId, 'cashier', 'detail', cajaDiaria.id]"
                [queryParams]="{page: cashierDetails.pagination.nextPage}">Siguiente</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</app-cashier-container>
<app-cerrar-caja [cajaDiariaId]="cajaDiaria.id" (responseData)="hideCerrarCajaModal($event)">
</app-cerrar-caja>
<app-caja-chica-modal [cajaDiariaId]="cajaDiaria.id" (responseData)="guardarModalCajaChica($event)">
</app-caja-chica-modal>