<div class="modal fade"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     id="cobrar-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <fa-icon [icon]="faBars"></fa-icon>
          <span class="text-uppercase ms-1">Cobrar Venta</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cobrarForm">
          <ng-container *ngIf="formReg else successTpl">
            <div class="row mb-3">
              <label class="col-4 col-form-label text-uppercase text-end">Medios de Pago</label>
              <div class="col-6">
                <select formControlName="paymentType" class="form-select text-uppercase">
                  <option value="0">Dinero en efectivo</option>
                  <option value="1">Depósito en cuenta</option>
                  <option value="2">Billetera digital</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-4 col-form-label text-uppercase text-end">Numeración</label>
              <div class="col-6">
                <select formControlName="docType" class="form-select">
                  <option value="BL">BOLETA</option>
                  <option value="FT">FACTURA</option>
                  <option value="NV">NOTA DE VENTA</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-4 col-form-label text-uppercase text-end">Monto Caja</label>
              <div class="col-6">
                <input type="number" formControlName="montoTotal" step="0.1" class="form-control">
              </div>
            </div>
            <label for="remark" class="form-label text-uppercase">Observaciones</label>
            <textarea class="form-control" formControlName="remark" id="remark" rows="2"></textarea>
          </ng-container>
          <ng-template #successTpl>
            <div class="div-success">
              <fa-icon [icon]="faCheckSquare"></fa-icon>
              <span class="d-block">TOTAL: {{sale.sumImpVenta|currency}}</span>
              <span class="d-block text-danger">VUELTO: {{sale.vuelto|currency}}</span>
            </div>
            <div class="sendEmail">
              <label class="form-label fw-bold">ENVIAR POR CORREO</label>
              <div class="input-group">
                <input type="text" class="form-control">
                <button class="btn btn-success" type="button">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                  <span class="text-uppercase ms-1">Enviar</span>
                </button>
              </div>
            </div>
          </ng-template>
        </form>
        <pre>{{cobrarForm.value|json}}</pre>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">
          <span class="text-uppercase">Cerrar</span>
        </button>
        <ng-container *ngIf="formReg else print">
          <button type="button" (click)="cobrarVenta()" class="btn btn-primary btn-lg">
            <span class="text-uppercase">Cobrar</span>
          </button>
        </ng-container>
        <ng-template #print>
          <button type="button" class="btn btn-primary btn-lg">
            <span class="text-uppercase">Imprimir</span>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
