.modal-body {
  fa-icon {
    font-size: 2rem;
  }

  table {
    fa-icon {
      font-size: 1rem;
      font-weight: normal;
    }
  }

  // total.
  .div-success {
    text-align: center;

    fa-icon {
      color: green;
      font-size: 4rem;
    }

    span {
      font-weight: bold;
      font-size: 1.4rem;
    }
  }

  // input group enviar email.
  .sendEmail {
    fa-icon {
      font-size: 1rem;
    }
  }
}
