<app-inventory-container>
  <div class="row px-2">
    <div class="col-12 bg-white my-2 py-3">
      <div class="row">
        <div class="col-12 col-md-3 mb-2">
          <div class="list-group fs-5">
            <a [routerLink]="['/', companyId, 'inventories', 'notas']" routerLinkActive="active"
               class="list-group-item list-group-item-action">
              <fa-icon [icon]="faNoteSticky" class="me-1"></fa-icon>
              <span>Notas de Entrada/Salida</span>
            </a>
            <a [routerLink]="['/', companyId, 'inventories', 'transferencias']" routerLinkActive="active"
               class="list-group-item list-group-item-action">
              <fa-icon [icon]="faRetweet" class="me-1"></fa-icon>
              <span>Transferencias</span>
            </a>
            <a [routerLink]="['/', companyId, 'inventories', 'ajustes']" routerLinkActive="active"
               class="list-group-item list-group-item-action">
              <fa-icon [icon]="faBox" class="me-1"></fa-icon>
              <span>Ajustes de Inventario</span>
            </a>
            <a [routerLink]="['/', companyId, 'inventories', 'materiales']" routerLinkActive="active"
               class="list-group-item list-group-item-action">
              <fa-icon [icon]="faRightFromBracket" class="me-1"></fa-icon>
              <span>Salida de Materiales</span>
            </a>
            <a [routerLink]="['/', companyId, 'inventories', 'location']" routerLinkActive="active"
               class="list-group-item list-group-item-action">
              <fa-icon [icon]="faLocationCrosshairs" class="me-1"></fa-icon>
              <span>Ubicaciones de Almacén</span>
            </a>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</app-inventory-container>
