<div class="modal fade" id="searchContactModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-uppercase fs-5">Buscar Contacto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="input-group">
            <div class="input-group-text">
              <fa-icon [icon]="faUserAlt" class="mx-1"></fa-icon>
            </div>
            <select id="contacto" class="form-select"></select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <span class="text-uppercase">Cerrar</span>
        </button>
        <button type="button" (click)="seleccionarContacto()" class="btn btn-primary">
          <span class="text-uppercase">Seleccionar</span>
        </button>
      </div>
    </div>
  </div>
</div>
