<app-navbar></app-navbar>
<div class="Wrapper">
  <app-sidebar></app-sidebar>
  <div id="content" class="container-fluid">
    <div class="row px-2">
      <div class="d-flex align-items-center justify-content-between bg-white my-2 py-3">
        <h5 class="text-uppercase mb-0">{{invoice.docType|docTypeInvoice}}: {{invoice.serie}}-{{invoice.number}}</h5>
        <div class="d-flex d-print-none">
          <ng-container *ngIf="invoice.docType !== 'NOTA'">
            <button type="button" class="btn btn-danger me-2">
              <fa-icon [icon]="faTimes" class="me-1"></fa-icon>
              <span class="text-uppercase">Anular</span>
            </button>
            <button type="button" [routerLink]="['/invoice/note', invoice.id]" class="btn btn-primary me-2">
              <fa-icon [icon]="faStickyNote" class="me-1"></fa-icon>
              <span class="text-uppercase">Nota Electrónica</span>
            </button>
          </ng-container>
          <button type="button" (click)="print()" class="btn btn-success">
            <fa-icon [icon]="faPrint" class="me-1"></fa-icon>
            <span class="text-uppercase">Imprimir</span>
          </button>
        </div>
      </div>
      <div class="col-12 bg-white py-3">
        <div class="table-responsive">
          <table class="table">
            <tbody>
            <tr>
              <th class="text-uppercase">Estado</th>
              <td>Cobrado</td>
            </tr>
            <tr>
              <th class="text-uppercase">Cliente</th>
              <td>{{invoice.numDocUsuario}}-{{invoice.rznSocialUsuario}}</td>
            </tr>
            <tr>
              <th class="text-uppercase">Fecha de emisión</th>
              <td>{{invoice.fecEmision|date}}</td>
            </tr>
            <tr>
              <th class="text-uppercase">Forma de Pago</th>
              <td>{{invoice.formaPago|formaPago}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr class="text-uppercase">
              <th>Cantidad</th>
              <th>Und. Med</th>
              <th>Producto</th>
              <th>Precio</th>
              <th>Impuestos</th>
              <th>V. Item</th>
              <th>ICBPER</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of invoice.invoiceDetails">
              <td>{{item.ctdUnidadItem}}</td>
              <td>{{item.codUnidadMedida}}</td>
              <td>{{item.desItem}}</td>
              <td>{{item.mtoPrecioVentaUnitario.toFixed(2)}}</td>
              <td>{{item.nomTributoIgvItem}}({{item.porIgvItem|number}}%)</td>
              <td>{{item.mtoValorVentaItem.toFixed(2)}}</td>
              <td>{{item.mtoTriIcbperItem.toFixed(2)}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-end">
          <div class="table-responsive">
            <table class="table mb-0">
              <tbody>
              <tr>
                <th class="bg-white">IMPORTE</th>
                <td class="bg-white">{{invoice.sumTotValVenta.toFixed(2)}}</td>
              </tr>
              <tr>
                <th class="bg-white">IGV (18%)</th>
                <td class="bg-white">{{invoice.sumTotTributos.toFixed(2)}}</td>
              </tr>
              <tr>
                <th class="bg-white">TOTAL</th>
                <td class="bg-white">{{invoice.sumImpVenta.toFixed(2)}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
