<div class="row">
  <div class="col-12 my-2">
    <div class="card">
      <div class="card-header">
        <h5 class="fw-bold mb-0">REGISTRO COMPROBANTE DE COMPRA</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="cabeceraForm">
          <div class="row mb-3">
            <div class="col-12 col-md-2">
              <label class="form-label">
                <fa-icon [icon]="faCalendar" class="me-1"></fa-icon>
                <span class="fw-bold">Fecha Emisión:<span class="text-danger">*</span></span>
              </label>
              <input type="date" formControlName="fecEmision" class="form-control"
                [ngClass]="{'is-invalid': inputIsInvalid('fecEmision')}">
            </div>
            <div class="col-12 col-md-3">
              <label class="form-label">
                <fa-icon [icon]="faHashtag" class="me-1"></fa-icon>
                <span class="fw-bold">Núm. Comprobante:<span class="text-danger">*</span></span>
              </label>
              <div class="input-group">
                <input type="text" formControlName="serieComprobante" class="form-control" placeholder="Serie"
                  [ngClass]="{'is-invalid': inputIsInvalid('serieComprobante')}">
                <input type="text" formControlName="numComprobante" class="form-control" placeholder="Número"
                  [ngClass]="{'is-invalid': inputIsInvalid('numComprobante')}">
              </div>
            </div>
            <div class="col-12 col-md-2">
              <label class="form-label">
                <fa-icon [icon]="faSackDollar" class="me-1"></fa-icon>
                <span class="fw-bold">Tipo Moneda:<span class="text-danger">*</span></span>
              </label>
              <select formControlName="tipoMoneda" class="form-select"
                [ngClass]="{'is-invalid': inputIsInvalid('tipoMoneda')}">
                <option value="PEN">SOLES</option>
                <option value="USD">DOLARES</option>
              </select>
            </div>
            <div class="col-12 col-md-2">
              <label class="form-label">
                <fa-icon [icon]="faSackDollar" class="me-1"></fa-icon>
                <span class="fw-bold">Tipo de Cambio:<span class="text-danger">*</span></span>
              </label>
              <input type="number" formControlName="tipoDeCambio" step="0.001" class="form-control" value="1"
                [ngClass]="{'is-invalid': inputIsInvalid('tipoDeCambio')}">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12 col-md-2">
              <label class="form-label">
                <fa-icon [icon]="faFolderTree" class="me-1"></fa-icon>
                <span class="fw-bold">Tipo doc:<span class="text-danger">*</span></span>
              </label>
              <select formControlName="docType" class="form-select"
                [ngClass]="{'is-invalid': inputIsInvalid('docType')}">
                <option value="BOLETA">BOLETA</option>
                <option value="FACTURA">FACTURA</option>
                <option value="NOTA">NOTA DE VENTA</option>
              </select>
            </div>
            <div class="col-12 col-md-3">
              <label class="form-label">
                <fa-icon [icon]="faUserAlt" class="me-1"></fa-icon>
                <span class="fw-bold">Crear/Buscar Proveedor:<span class="text-danger">*</span></span>
              </label>
              <div class="btn-group w-100" role="group">
                <button type="button" (click)="showRegisterContactModal()" class="btn btn-primary">
                  <fa-icon [icon]="faPlus" class="me-1"></fa-icon>
                  <span class="text-uppercase">Nuevo</span>
                </button>
                <button type="button" (click)="showSearchContactModal()" class="btn btn-success">
                  <fa-icon [icon]="faSearch" class="me-1"></fa-icon>
                  <span class="text-uppercase">Buscar</span>
                </button>
              </div>
            </div>
            <div class="col-12 col-md-7">
              <label class="form-label">
                <fa-icon [icon]="faIdCardAlt" class="me-1"></fa-icon>
                <span class="fw-bold">Razón Social:<span class="text-danger">*</span></span>
              </label>
              <input type="text" formControlName="rznSocialProveedor" class="form-control bg-light"
                [ngClass]="{'is-invalid': inputIsInvalid('rznSocialProveedor')}"
                placeholder="Nombre o Razón Social Aquí!" readonly>
            </div>
          </div>
          <div class="row">
            <div class="table-responsive">
              <table class="table table-striped mb-0">
                <thead class="table-info">
                  <tr class="text-uppercase">
                    <th>Cantidad</th>
                    <th>Und. Medida</th>
                    <th>Descripción</th>
                    <th>Valor Item</th>
                    <th>IGV</th>
                    <th>Importe Item</th>
                    <th>ICBPER</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of detalle">
                    <td>{{item.ctdUnidadItem}}</td>
                    <td>{{item.codUnidadMedida|split}}</td>
                    <td>
                      <a [routerLink]="['/products/detail', item.productId]" [queryParams]="{ tab: 'stock' }"
                        target="_blank">
                        {{item.desItem}}
                      </a>
                    </td>
                    <td>{{item.mtoValorCompraItem.toFixed(4)|currency}}</td>
                    <td>{{item.mtoIgvItem.toFixed(4)|currency}}</td>
                    <td>{{item.mtoTotalItem.toFixed(4)|currency}}</td>
                    <td>{{item.mtoTriIcbperItem.toFixed(4)|currency}}</td>
                    <td>
                      <div class="tblBtn ms-auto">
                        <button type="button" (click)="editItemModal(item)" class="btn btn-secondary btn-sm me-2">
                          <fa-icon [icon]="faEdit"></fa-icon>
                        </button>
                        <button type="button" (click)="deleteItemComprobante(item)" class="btn btn-danger btn-sm">
                          <fa-icon [icon]="faTrashAlt"></fa-icon>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-8">
              <div class="row">
                <div class="col-12 mt-2">
                  <button type="button" (click)="showAddProductModal()" [disabled]="typeForm==='ADD'"
                    class="btn btn-success">
                    <fa-icon [icon]="faPlus" class="me-1"></fa-icon>
                    <span class="text-uppercase">Agregar Producto</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <table class="table mb-0">
                <tbody>
                  <tr>
                    <th class="text-uppercase">Valor de Compra:</th>
                    <td>{{sumTotValCompra|currency}}</td>
                  </tr>
                  <tr>
                    <th>IGV: ({{configuration.porcentajeIgv}}%):</th>
                    <td>{{sumTotIgvItem|currency}}</td>
                  </tr>
                  <tr>
                    <th>ICBPER:</th>
                    <td>{{sumTotIcbper|currency}}</td>
                  </tr>
                  <tr>
                    <th class="text-uppercase">Importe Total:</th>
                    <td>{{sumImpCompra|currency}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
        <!-- ## DEBUG -->
        <!-- <pre>{{cabeceraForm.value|json}}</pre>
        <pre>{{detalle|json}}</pre>
        <pre>{{purchaseDto|json}}</pre> -->
        <!-- ## END -->
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center py-2">
          <button type="button" (click)="irAListaDeCompras()" class="btn btn-secondary btn-lg me-2">
            <fa-icon [icon]="faCircleLeft" class="me-1"></fa-icon>
            <span class="text-uppercase ms-1">Cancelar</span>
          </button>
          <button type="button" (click)="saveChanges()" class="btn btn-primary btn-lg">
            <fa-icon [icon]="faSave"></fa-icon>
            <span class="text-uppercase ms-1">Guardar</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-search-contact-modal (responseData)="selectContactModal($event)"></app-search-contact-modal>
<app-contact-modal [contactDataModal]="contactDataModal"
  (responseData)="saveContactRecordModal($event)"></app-contact-modal>
<app-add-product-modal [itemCompra]="itemCompra"
  (responseData)="agregarItemComprobante($event)"></app-add-product-modal>
