<div id="mainMenu">
  <ng-container *ngIf="checkMenuRoot()">
    <ul class="menu-root">
      <li>
        <div class="mainItemWrapper">
          <a routerLink="/contacts" class="w-100">
            <fa-icon [icon]="faAddressBook"></fa-icon>
            <span class="">Contactos</span>
          </a>
        </div>
      </li>
      <li>
        <div class="mainItemWrapper">
          <a routerLink="/products" class="w-100">
            <fa-icon [icon]="faBox"></fa-icon>
            <span class="">Productos</span>
          </a>
        </div>
      </li>
      <li>
        <div class="mainItemWrapper">
          <a routerLink="/point-of-sale" class="w-100">
            <fa-icon [icon]="faCashRegister"></fa-icon>
            <span class="">Punto de Venta</span>
          </a>
        </div>
      </li>
      <li>
        <div class="mainItemWrapper">
          <a (click)="mnInventory($event)" href="#" class="w-100">
            <fa-icon [icon]="faArchive"></fa-icon>
            <span class="">Inventario</span>
          </a>
          <a (click)="mnInventory($event, true)" href="#" class="toggler">
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </a>
        </div>
      </li>
      <li>
        <div class="mainItemWrapper">
          <a (click)="mnShopping($event)" href="#" class="w-100">
            <fa-icon [icon]="faShoppingBasket"></fa-icon>
            <span class="">Compras</span>
          </a>
          <a (click)="mnShopping($event, true)" href="#" class="toggler">
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </a>
        </div>
      </li>
      <li>
        <div class="mainItemWrapper">
          <a (click)="mnSales($event)" href="#" class="w-100">
            <fa-icon [icon]="faWallet"></fa-icon>
            <span class="">Ventas</span>
          </a>
          <a (click)="mnSales($event, true)" href="#" class="toggler">
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </a>
        </div>
      </li>
      <li>
        <div class="mainItemWrapper">
          <a (click)="mnConfig($event)" href="#" class="w-100">
            <fa-icon [icon]="faCogs"></fa-icon>
            <span class="">Configuración</span>
          </a>
          <a (click)="mnConfig($event)" href="#" class="toggler">
            <fa-icon [icon]="faArrowRight"></fa-icon>
          </a>
        </div>
      </li>
    </ul>
  </ng-container>
  <!-- SubMenu Inventario -->
  <ng-container *ngIf="checkMenuChildInventory()">
    <ul class="menuChildren">
      <li>
        <div class="header">
          <a (click)="mnBack($event)" href="#" class="toggler">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </a>
          <a routerLink="/inventory" class="w-100">
            <span class="">Inventario</span>
          </a>
        </div>
      </li>
      <li>
        <a routerLink="#" class="w-100">
          <span class="">Movimientos</span>
        </a>
      </li>
      <li>
        <a routerLink="#" class="w-100">
          <span class="">Traslados</span>
        </a>
      </li>
      <li>
        <a routerLink="#" class="w-100">
          <span class="">Devoluciones</span>
        </a>
      </li>
      <li>
        <a routerLink="#" class="w-100">
          <span class="">Reporte Kardex</span>
        </a>
      </li>
    </ul>
  </ng-container>
  <!-- SubMenu Compras -->
  <ng-container *ngIf="checkMenuChildShopping()">
    <ul class="menuChildren">
      <li>
        <div class="header">
          <a (click)="mnBack($event)" href="#" class="toggler">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </a>
          <a routerLink="/shopping" class="w-100">
            <span class="">Compras</span>
          </a>
        </div>
      </li>
      <li>
        <a routerLink="/shopping" class="w-100">
          <span class="">Listado</span>
        </a>
      </li>
      <li>
        <a routerLink="#" class="w-100">
          <span class="">Ordenes de Compra</span>
        </a>
      </li>
    </ul>
  </ng-container>
  <!-- SubMenu Ventas -->
  <ng-container *ngIf="checkMenuChildSales()">
    <ul class="menuChildren">
      <li>
        <div class="header">
          <a (click)="mnBack($event)" href="#" class="toggler">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </a>
          <a routerLink="/sales" class="w-100">
            <span class="">Ventas</span>
          </a>
        </div>
      </li>
      <li>
        <a routerLink="/sales" class="w-100">
          <span class="">Listado</span>
        </a>
      </li>
      <li>
        <a routerLink="#" class="w-100">
          <span class="">Cotizaciones</span>
        </a>
      </li>
    </ul>
  </ng-container>

  <!-- SubMenu Configuración -->
  <ng-container *ngIf="checkMenuChildConfig()">
    <ul class="menuChildren">
      <li>
        <div class="header">
          <a (click)="mnBack($event)" href="#" class="toggler">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
          </a>
          <a routerLink="#" class="w-100">
            <span class="">Configuración</span>
          </a>
        </div>
      </li>
      <li>
        <a routerLink="#" class="w-100">
          <span class="">General</span>
        </a>
      </li>
      <li>
        <a routerLink="#" class="w-100">
          <span class="">Usuarios</span>
        </a>
      </li>
      <li>
        <a routerLink="#" class="w-100">
          <span class="">Almacenes</span>
        </a>
      </li>
    </ul>
  </ng-container>
</div>
