<app-account-container>
  <form (submit)="submitSearch($event)" class="row row-cols-auto g-2 mb-2">
    <div class="col-auto">
      <label class="col-form-label fw-bold">Filtrar por:</label>
    </div>
    <div class="col-12 col-md-4 col-lg-auto">
      <div class="input-group">
        <span class="input-group-text">
          <fa-icon [icon]="faFilter"></fa-icon>
        </span>
        <input type="search" [formControl]="query" class="form-control" placeholder="Usuario">
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-auto">
      <button type="submit" class="btn btn-success w-100">
        <fa-icon [icon]="faSearch"></fa-icon>
        <span class="text-uppercase ms-1">Buscar</span>
      </button>
    </div>
    <div class="col-6 col-md-3 col-lg-auto">
      <button type="button" (click)="addUserModal()" class="btn btn-primary w-100">
        <fa-icon [icon]="faPlus"></fa-icon>
        <span class="text-uppercase ms-1">Agregar</span>
      </button>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-striped mb-2">
      <thead>
        <tr class="table-primary text-uppercase">
          <th>Usuario</th>
          <th>E-Mail</th>
          <th>Tipo</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let item of users.data">
          <td>{{item.userName|uppercase}}</td>
          <td>
            <a [routerLink]="['/account/users', item.id, 'suscripciones']">
              {{item.email}}
            </a>
          </td>
          <td>{{item.userType|uppercase}}</td>
          <td>-</td>
          <td class="text-end">
            <button type="button" class="btn btn-secondary btn-sm">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav class="d-flex justify-content-center mb-1">
      <ul class="pagination fw-bold mb-0">
        <li class="page-item" [ngClass]="{'disabled': users.pagination.previousPage === null}">
          <a class="page-link" [routerLink]="['/', 'account', 'users']"
            [queryParams]="{page: users.pagination.previousPage}">Anterior</a>
        </li>
        <li *ngFor="let item of users.pagination.pages" class="page-item"
          [ngClass]="{'active': users.pagination.currentPage === item.page}">
          <a class="page-link" [routerLink]="['/', 'account', 'users']"
            [queryParams]="{page: item.page}">{{item.page}}</a>
        </li>
        <li class="page-item" [ngClass]="{'disabled': users.pagination.nextPage === null}">
          <a class="page-link" [routerLink]="['/', 'account', 'users']"
            [queryParams]="{page: users.pagination.nextPage}">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
</app-account-container>

<app-user-modal>
</app-user-modal>
