<div class="modal fade" id="comprobantesPendientes" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">
          <span class="text-uppercase">Comprobantes Pendientes</span>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-1">
        <div class="table-responsive">
          <table class="table table-striped table-sm mb-0">
            <thead>
            <tr class="text-uppercase">
              <th>Tipo Doc</th>
              <th>Documento</th>
              <th>Fecha</th>
              <th>Importe</th>
              <th>Sunat</th>
              <th></th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr *ngFor="let item of comprobantesPendientes">
              <td>{{ item.tipoDoc|getInvoiceType }}</td>
              <td>
                <a *ngIf="item.tipoDoc !== '07'"
                   [routerLink]="['/',  'sales', 'invoice-sale-detail', item.comprobanteId]" target="_blank">
                  {{ item.serie }}-{{ item.correlativo }}
                </a>
                <a *ngIf="item.tipoDoc === '07'"
                   [routerLink]="['/', 'sales', 'credit-note-formato-a4', item.comprobanteId]"
                   target="_blank">
                  {{ item.serie }}-{{ item.correlativo }}
                </a>
              </td>
              <td>{{ item.fechaEmision|date }}</td>
              <td>{{ item.mtoImpVenta|currency }}</td>
              <td>{{ item.cdrDescription }}</td>
              <td class="text-end">
                <button (click)="procesarComprobante(item)" class="btn btn-primary btn-sm">
                  <span class="text-uppercase fw-bold">Procesar</span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- #region PROGRESS_MODAL! -->
        <div class="modal fade" id="progressModal" data-bs-backdrop="static" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
              <div class="modal-body">
                <div class="d-flex justify-content-center">
                  <span class="fw-bold ms-2 mt-1">{{ titleProgressModal }}</span>
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                       [ngStyle]="{width: valueProgressBar+'%'}">
                    {{ valueProgressBar }}%
                  </div>
                </div>
              </div>
              <div class="modal-footer bg-light">
                <button type="button" class="btn btn-primary w-100" [disabled]="valueProgressBar !== 100"
                        data-bs-dismiss="modal">
                  <fa-icon [icon]="faChevronCircleRight" class="me-1"></fa-icon>
                  <span class="text-uppercase">Finalizar</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- #endregion -->
      </div>
    </div>
  </div>
</div>
