<div class="modal fade" id="product-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase">{{ productDataModal.title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-2">
        <form [formGroup]="productForm">
          <div class="mb-2">
            <label class="col-form-label-sm text-uppercase">Descripción producto</label>
            <textarea formControlName="description" class="form-control"
                      [ngClass]="{'is-invalid': inputIsInvalid('description')}">
              </textarea>
          </div>
          <div class="row mb-2">
            <div class="col-6">
              <label class="col-form-label-sm text-uppercase">Categoria</label>
              <select id="category" class="form-select"
                      [ngClass]="{'is-invalid': inputIsInvalid('category')}"></select>
            </div>
            <div class="col-6">
              <label class="col-form-label-sm text-uppercase">Código de Barras</label>
              <input type="text" formControlName="barcode" class="form-control"
                     [ngClass]="{'is-invalid': inputIsInvalid('barcode')}">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-6">
              <label class="col-form-label-sm text-uppercase">Impuestos</label>
              <select formControlName="igvSunat" class="form-select"
                      [ngClass]="{'is-invalid': inputIsInvalid('igvSunat')}">
                <option value="GRAVADO">GRAVADO {{ company.porcentajeIgv|number }}% IGV</option>
                <option value="EXONERADO">EXONERADO</option>
                <option value="INAFECTO">INAFECTO</option>
              </select>
            </div>
            <div class="col-6">
              <label class="col-form-label-sm text-uppercase">Precio Unitario</label>
              <input type="number" formControlName="precioVentaUnitario" step="0.1" class="form-control"
                     [ngClass]="{'is-invalid': inputIsInvalid('precioVentaUnitario')}">
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="col-form-label-sm text-uppercase">Tipo ítem - SUNAT</label>
              <select formControlName="type" class="form-select" [ngClass]="{'is-invalid': inputIsInvalid('type')}">
                <option value="BIEN">BIEN</option>
                <option value="SERVICIO">SERVICIO</option>
              </select>
            </div>
            <div class="col-6">
              <label class="col-form-label-sm text-uppercase">Unidad de medida</label>
              <select formControlName="undMedida" class="form-select"
                      [ngClass]="{'is-invalid': inputIsInvalid('undMedida')}">
                <option value="4A:BOBINAS">BOBINAS</option>
                <option value="BJ:BALDE">BALDE</option>
                <option value="BLL:BARRILES">BARRILES</option>
                <option value="BG:BOLSA">BOLSA</option>
                <option value="BO:BOTELLAS">BOTELLAS</option>
                <option value="BX:CAJA">CAJA</option>
                <option value="CT:CARTONES">CARTONES</option>
                <option value="CY:CILINDRO">CILINDRO</option>
                <option value="CJ:CONOS">CONOS</option>
                <option value="DZN:DOCENA">DOCENA</option>
                <option value="BE:FARDO">FARDO</option>
                <option value="GLI:GALÓN INGLES (4,545956L)">GALÓN INGLES (4,545956L)</option>
                <option value="GRM:GRAMO">GRAMO</option>
                <option value="LEF:HOJA">HOJA</option>
                <option value="SET:JUEGO">JUEGO</option>
                <option value="KGM:KILOGRAMO">KILOGRAMO</option>
                <option value="KT:KIT">KIT</option>
                <option value="CA:LATAS">LATAS</option>
                <option value="LBR:LIBRAS">LIBRAS</option>
                <option value="LTR:LITRO">LITRO</option>
                <option value="MTR:METRO">METRO</option>
                <option value="MGM:MILIGRAMOS">MILIGRAMOS</option>
                <option value="MLT:MILILITRO">MILILITRO</option>
                <option value="MMT:MILIMETRO">MILIMETRO</option>
                <option value="MIL:MILLARES">MILLARES</option>
                <option value="ONZ:ONZAS">ONZAS</option>
                <option value="PF:PALETAS">PALETAS</option>
                <option value="PK:PAQUETE">PAQUETE</option>
                <option value="PR:PAR">PAR</option>
                <option value="C62:PIEZAS">PIEZAS</option>
                <option value="PG:PLACAS">PLACAS</option>
                <option value="ST:PLIEGO">PLIEGO</option>
                <option value="INH:PULGADAS">PULGADAS</option>
                <option value="TU:TUBOS">TUBOS</option>
                <option value="NIU:UNIDAD (BIENES)">UNIDAD (BIENES)</option>
                <option value="ZZ:UNIDAD (SERVICIOS)">UNIDAD (SERVICIOS)</option>
                <option value="GLL:US GALON (3,7843 L)">US GALON (3,7843 L)</option>
                <option value="YRD:YARDA">YARDA</option>
                <option value="YDK:YARDA CUADRADA">YARDA CUADRADA</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">
          <span class="text-uppercase">Cerrar</span>
        </button>
        <button type="button" (click)="saveChanges()" class="btn btn-primary btn-lg">
          <span class="text-uppercase">Guardar</span>
        </button>
      </div>
    </div>
  </div>
</div>
