<app-navbar></app-navbar>
<div class="Wrapper">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <div class="row px-2">
      <div class="col-12 bg-white shadow-sm my-2 py-3">
        <h5 class="text-uppercase">Comprobante de venta</h5>
        <hr>
        <form class="row">
          <div class="col-8">
            <div class="row mb-3">
              <label class="col-3 col-form-label text-end">Contacto</label>
              <div class="col-6">
                <div class="input-group me-1">
                  <span class="input-group-text">
                    <fa-icon [icon]="faIdCardAlt"></fa-icon>
                  </span>
                  <select id="clientId" class="form-select"></select>
                </div>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-success">
                  <fa-icon [icon]="faPlus"></fa-icon>
                  <span class="text-uppercase ms-1">Agregar</span>
                </button>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-3 col-form-label text-end">Tipo Comprobante</label>
              <div class="col-4">
                <select class="form-select">
                  <option value="BL">BOLETA</option>
                  <option value="FT">FACTURA</option>
                  <option value="NV">NOTA DE VENTA</option>
                </select>
              </div>
              <label class="col-1 col-form-label text-end">Caja</label>
              <div class="col-4">
                <select class="form-select"></select>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-3 col-form-label text-end">Tipo de operación</label>
              <div class="col-4">
                <select class="form-select">
                  <option value="0101">0101 - Venta Interna</option>
                  <option value="0112">0112 - Venta Interna - Sustenta Gastos Deducibles Persona Natural</option>
                  <option value="0113">0113 - Venta Interna-NRUS</option>
                  <option value="0200">0200 - Exportación de Bienes</option>
                  <option value="0201">0201 - Exportación de Servicios – Prestación servicios realizados íntegramente en
                    el país
                  </option>
                  <option value="0202">0202 - Exportación de Servicios – Prestación de servicios de hospedaje No
                    Domiciliado
                  </option>
                  <option value="0203">0203 - Exportación de Servicios – Transporte de navieras</option>
                  <option value="0204">0204 - Exportación de Servicios – Servicios a naves y aeronaves de bandera
                    extranjera
                  </option>
                  <option value="0205">0205 - Exportación de Servicios - Servicios que conformen un Paquete Turístico
                  </option>
                  <option value="0206">0206 - Exportación de Servicios – Servicios complementarios al transporte de
                    carga
                  </option>
                  <option value="0207">0207 - Exportación de Servicios – Suministro de energía eléctrica a favor de
                    sujetos domiciliados en ZED
                  </option>
                  <option value="0208">0208 - Exportación de Servicios – Prestación servicios realizados parcialmente en
                    el extranjero
                  </option>
                  <option value="0301">0301 - Operaciones con Carta de porte aéreo (emitidas en el ámbito nacional)
                  </option>
                  <option value="0302">0302 - Operaciones de Transporte ferroviario de pasajeros</option>
                  <option value="0303">0303 - Operaciones de Pago de regalía petrolera</option>
                  <option value="0401">0401 - Ventas no domiciliados que no califican como exportación</option>
                  <option value="1001">1001 - Operación Sujeta a Detracción</option>
                  <option value="1002">1002 - Operación Sujeta a Detracción- Recursos Hidrobiológicos</option>
                  <option value="1003">1003 - Operación Sujeta a Detracción- Servicios de Transporte Pasajeros</option>
                  <option value="1004">1004 - Operación Sujeta a Detracción- Servicios de Transporte Carga</option>
                  <option value="2001">2001 - Operación Sujeta a Percepción</option>
                </select>
              </div>
              <label class="col-1 col-form-label text-end">Serie</label>
              <div class="col-4">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="F001" style="max-width: 70px;">
                  <span class="input-group-text fw-bold">#</span>
                  <input type="text" class="form-control" placeholder="999999999">
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row mb-3">
              <label class="col-4 col-form-label text-end">Fecha Emisión</label>
              <div class="col-8">
                <input type="date" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-4 col-form-label text-end">Forma de Pago</label>
              <div class="col-8">
                <select class="form-select">
                  <option value="Credito">CRÉDITO</option>
                  <option value="Contado">CONTADO</option>
                </select>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-4 col-form-label text-end">Vencimiento</label>
              <div class="col-8">
                <input type="date" class="form-control">
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr class="text-uppercase">
              <th>Cantidad</th>
              <th>Und. Med</th>
              <th>Producto</th>
              <th>Precio</th>
              <th>Impuestos</th>
              <th>V. Item</th>
              <th>ICBPER</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>NUI</td>
              <td>COMPUTADORA CORE I3 RAM 8GB 480SSD</td>
              <td>2500.00</td>
              <td>IGV(18%)</td>
              <td>2700.00</td>
              <td>00.00</td>
              <td class="text-end">
                <button type="button" class="btn btn-danger btn-sm">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex align-items-stretch justify-content-between">
          <div class="w-50">
            <label class="form-label">Observación</label>
            <textarea class="form-control"></textarea>
          </div>
          <div class="table-responsive">
            <table class="table">
              <tbody>
              <tr>
                <th class="bg-white">SubTotal</th>
                <td class="bg-white">0.00</td>
              </tr>
              <tr>
                <th class="bg-white">IGV (18%)</th>
                <td class="bg-white">0.00</td>
              </tr>
              <tr>
                <th class="bg-white">Total</th>
                <td class="bg-white">0.00</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button type="button" class="btn btn-dark">
          <fa-icon [icon]="faPlus"></fa-icon>
          <span class="text-uppercase ms-1">Agregar Item Comprobante</span>
        </button>
      </div>
      <div class="col-12 bg-white shadow-sm mb-2 py-3">
        <h5 class="text-uppercase">Listado de Cuotas de Crédito</h5>
        <hr>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr class="text-uppercase">
              <th># Cuota</th>
              <th>Fecha Venc.</th>
              <th>Monto</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>2021-11-09</td>
              <td>0.00</td>
              <td class="text-end">
                <button type="button" class="btn btn-danger btn-sm">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-dark">
          <fa-icon [icon]="faPlus"></fa-icon>
          <span class="text-uppercase ms-1">Agregar Cuota de Crédito</span>
        </button>
      </div>
      <div class="d-flex justify-content-center bg-white shadow-sm mb-2 py-3">
        <button type="button" class="btn btn-danger btn-lg me-2">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
          <span class="text-uppercase ms-1">Cancelar</span>
        </button>
        <button type="button" class="btn btn-primary btn-lg">
          <fa-icon [icon]="faSave"></fa-icon>
          <span class="text-uppercase ms-1">Registrar</span>
        </button>
      </div>
    </div>
  </div>
</div>
