<app-navbar></app-navbar>
<div class="Wrapper">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <div class="row px-2">
      <div class="col-12 bg-white shadow-sm my-2 py-3">
        <h5 class="text-uppercase">Comprobante de {{nomComprobante}}</h5>
        <hr>
        <form [formGroup]="comprobanteForm" class="row">
          <div class="col-8">
            <div class="row mb-3">
              <label class="col-3 col-form-label text-uppercase text-end">Contacto</label>
              <div class="col-6">
                <div class="input-group me-1">
                  <span class="input-group-text">
                    <fa-icon [icon]="faIdCardAlt"></fa-icon>
                  </span>
                  <select id="clientId" class="form-select"></select>
                </div>
              </div>
              <div class="col-3">
                <button type="button" (click)="showContactModal()" class="btn btn-success">
                  <fa-icon [icon]="faPlus"></fa-icon>
                  <span class="text-uppercase ms-1">Agregar</span>
                </button>
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-3 col-form-label text-uppercase text-end">Tipo Comprobante</label>
              <div class="col-4">
                <select formControlName="docType" class="form-select">
                  <option value="BL">BOLETA</option>
                  <option value="FT">FACTURA</option>
                  <option value="NV">NOTA DE VENTA</option>
                </select>
              </div>
              <label class="col-1 col-form-label text-uppercase text-end">Serie</label>
              <div class="col-4">
                <select class="form-select" formControlName="cajaId">
                  <option *ngFor="let item of invoiceSeries" [value]="item.id">{{item.name}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <label class="col-3 col-form-label text-uppercase text-end">Tipo de operación</label>
              <div class="col-4">
                <select formControlName="typeOperation" class="form-select text-uppercase">
                  <option *ngFor="let item of typeOperation" [value]="item.id">{{item.description}}</option>
                </select>
              </div>
              <label class="col-1 col-form-label text-uppercase text-end">Serie</label>
              <div class="col-4">
                <div class="input-group mb-3">
                  <input type="text" formControlName="serie" class="form-control" placeholder="F001"
                         [readOnly]="invoiceType==='sale'" style="max-width: 70px;">
                  <span class="input-group-text fw-bold">#</span>
                  <input type="text" class="form-control" formControlName="number"
                         placeholder="99999999" [readOnly]="invoiceType==='sale'">
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row mb-3">
              <label class="col-4 col-form-label text-uppercase text-end">Emisión</label>
              <div class="col-8">
                <input type="date" formControlName="startDate" class="form-control">
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-4 col-form-label text-uppercase text-end">F.Pago</label>
              <div class="col-8">
                <select formControlName="paymentType" class="form-select">
                  <option value="Credito">CRÉDITO</option>
                  <option value="Contado">CONTADO</option>
                </select>
              </div>
            </div>
            <div class="row">
              <label class="col-4 col-form-label text-uppercase text-end">Vencimiento</label>
              <div class="col-8">
                <input type="date" formControlName="endDate" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr class="text-uppercase">
                  <th>Cantidad</th>
                  <th>Descripción</th>
                  <th>Precio</th>
                  <th>Importe</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of detalleComprobante">
                  <td>{{item.quantity}}</td>
                  <td>
                    <div class="d-flex justify-content-between">
                      <span class="text-uppercase">{{item.description}}</span>
                      <a href="#">
                        <fa-icon [icon]="faEdit"></fa-icon>
                      </a>
                    </div>
                  </td>
                  <td>{{item.price|currency}}</td>
                  <td>{{item.amount|currency}}</td>
                  <td class="text-end">
                    <!--<button type="button" (click)="deleteItemComprobante(item.numItem)" class="btn btn-danger btn-sm">
                      <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button>-->
                    <button type="button" class="btn btn-danger btn-sm">
                      <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="d-flex align-items-stretch justify-content-between">
              <div class="w-50">
                <label class="form-label text-uppercase">Observación</label>
                <textarea formControlName="remark" class="form-control"></textarea>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                  <tr>
                    <th class="bg-white text-end">IMPORTE</th>
                    <td class="bg-white">
                      <input type="number" class="text-end"
                             [value]="comprobanteForm.get('sumTotValVenta')?.value|currency" readonly>
                    </td>
                  </tr>
                  <tr>
                    <th class="bg-white text-end">IGV (18%)</th>
                    <td class="bg-white">
                      <input type="number" class="text-end"
                             [value]="comprobanteForm.get('sumTotTributos')?.value|currency" readonly>
                    </td>
                  </tr>
                  <tr>
                    <th class="bg-white text-end">ICBPER</th>
                    <td class="bg-white">
                      <input type="number" class="text-end"
                             [value]="comprobanteForm.get('icbper')?.value|currency" readonly>
                    </td>
                  </tr>
                  <tr>
                    <th class="bg-white text-end">TOTAL A PAGAR</th>
                    <td class="bg-white">
                      <input type="number" class="text-end"
                             [value]="comprobanteForm.get('sumImpVenta')?.value|currency" readonly>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
        <button type="button" (click)="showItemComprobanteModal()" class="btn btn-secondary">
          <fa-icon [icon]="faPlus"></fa-icon>
          <span class="text-uppercase ms-1">Agregar Item</span>
        </button>
      </div>
      <ng-container *ngIf="checkCreditPaymentType()">
        <div class="col-12 bg-white shadow-sm mb-2 py-3">
          <h5 class="text-uppercase">Listado de Cuotas de Crédito</h5>
          <hr>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr class="text-uppercase">
                <th># Cuota</th>
                <th>Fecha Venc.</th>
                <th>Monto</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of listaDeCuotas">
                <td>{{item.numCuota}}</td>
                <td>{{item.endDate}}</td>
                <td>{{item.amount|currency}}</td>
                <td class="text-end">
                  <!--<button type="button" (click)="deleteItemCuota(item.numCuota)" class="btn btn-danger btn-sm">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>-->
                  <button type="button" class="btn btn-danger btn-sm">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <button type="button" (click)="showCuotaModal()" class="btn btn-secondary">
            <fa-icon [icon]="faPlus"></fa-icon>
            <span class="text-uppercase ms-1">Agregar Cuota</span>
          </button>
        </div>
      </ng-container>
      <div class="d-flex justify-content-center bg-white shadow-sm mb-2 py-3">
        <button type="button" class="btn btn-danger btn-lg me-2">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
          <span class="text-uppercase ms-1">Cancelar</span>
        </button>
        <button type="button" (click)="registerVoucher()" class="btn btn-primary btn-lg">
          <fa-icon [icon]="faSave"></fa-icon>
          <span class="text-uppercase ms-1">Registrar</span>
        </button>
      </div>
    </div>

    <pre>{{comprobanteForm.value|json}}</pre>
    <pre>{{detalleComprobante|json}}</pre>
    <pre>{{listaDeCuotas|json}}</pre>

  </div>
</div>

<app-contact-modal
  [title]="'Agregar Contacto'"
  [contact]="currentContact"
  (responseData)="hideContactModal($event)">
</app-contact-modal>

<!--<app-item-comprobante-->
<!--  (responseData)="hideItemComprobante($event)">-->
<!--</app-item-comprobante>-->

<app-cuota-modal
  (responseData)="hideCuotaModal($event)">
</app-cuota-modal>
