<app-navbar></app-navbar>
<main class="position-relative">
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 my-2">
          <div class="card">
            <div class="card-header">
              <h5 class="fw-bold mb-0">CONFIGURACIÓN DE EMPRESA</h5>
            </div>
            <div class="card-body">
              <form [formGroup]="configForm">
                <div class="row mb-3">
                  <label class="col-2 col-form-label text-end fw-bold">R.U.C</label>
                  <div class="col-3">
                    <input type="text" formControlName="ruc" class="form-control"
                           [ngClass]="{'is-invalid': inputIsInvalid('ruc')}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-2 col-form-label text-end fw-bold">Razón Social</label>
                  <div class="col-8">
                    <input type="text" formControlName="rznSocial" class="form-control"
                           [ngClass]="{'is-invalid': inputIsInvalid('rznSocial')}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-2 col-form-label text-end fw-bold">Dirección</label>
                  <div class="col-8">
                    <input type="text" formControlName="address" class="form-control"
                           [ngClass]="{'is-invalid': inputIsInvalid('address')}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-2 col-form-label text-end fw-bold">Teléfono</label>
                  <div class="col-3">
                    <input type="text" formControlName="phoneNumber" class="form-control"
                           [ngClass]="{'is-invalid': inputIsInvalid('phoneNumber')}">
                  </div>
                  <label class="col-2 col-form-label text-end fw-bold">Ancho Ticket</label>
                  <div class="col-3">
                    <input type="text" formControlName="anchoTicket" class="form-control"
                           [ngClass]="{'is-invalid': inputIsInvalid('anchoTicket')}">
                  </div>
                </div>
                <div class="mb-3">
                  <h5 class="title mb-0">
                    <fa-icon [icon]="faClipboardList" class="me-1"></fa-icon>
                    <span>Configuración para la venta</span>
                  </h5>
                </div>
                <div class="row mb-3">
                  <label class="col-2 col-form-label text-end fw-bold">Cod Local Emisor</label>
                  <div class="col-3">
                    <input type="text" formControlName="codLocalEmisor" class="form-control"
                           [ngClass]="{'is-invalid': inputIsInvalid('codLocalEmisor')}">
                  </div>
                  <label class="col-2 col-form-label text-end fw-bold">Cod Tipo Moneda</label>
                  <div class="col-3">
                    <input type="text" formControlName="tipMoneda" class="form-control"
                           [ngClass]="{'is-invalid': inputIsInvalid('tipMoneda')}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-2 col-form-label text-end fw-bold">Porcentaje IGV</label>
                  <div class="col-3">
                    <input type="number" formControlName="porcentajeIgv" step="0.1" class="form-control"
                           [ngClass]="{'is-invalid': inputIsInvalid('porcentajeIgv')}">
                  </div>
                  <label class="col-2 col-form-label text-end fw-bold">Impuesto por Bolsa</label>
                  <div class="col-3">
                    <input type="number" formControlName="valorImpuestoBolsa" step="0.1" class="form-control"
                           [ngClass]="{'is-invalid': inputIsInvalid('valorImpuestoBolsa')}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-2 col-form-label text-end fw-bold">Público General</label>
                  <div class="col-3">
                    <select id="contactId" class="form-select"
                            [ngClass]="{'is-invalid': inputIsInvalid('contactId')}"></select>
                  </div>
                  <label class="col-2 col-form-label text-end fw-bold">Emisión Electrónica</label>
                  <div class="col-3">
                    <select formControlName="cpeSunat" class="form-select"
                            [ngClass]="{'is-invalid': inputIsInvalid('cpeSunat')}">
                      <option value="NONE">Ninguno</option>
                      <option value="SFS">Facturador SUNAT</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3">
                  <h5 class="title mb-0">
                    <fa-icon [icon]="faFolderOpen" class="me-1"></fa-icon>
                    <span>Facturador SUNAT</span>
                  </h5>
                </div>
                <div class="row mb-3">
                  <label class="col-2 col-form-label text-end fw-bold">URL Api</label>
                  <div class="col-8">
                    <input type="text" formControlName="urlApi" class="form-control"
                           [ngClass]="{'is-invalid': inputIsInvalid('urlApi')}">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-2 col-form-label text-end fw-bold">Archivos SUNAT</label>
                  <div class="col-8">
                    <input type="text" formControlName="fileSunat" class="form-control"
                           [ngClass]="{'is-invalid': inputIsInvalid('fileSunat')}">
                  </div>
                </div>
                <div class="row">
                  <label class="col-2 col-form-label text-end fw-bold">Archivos Control</label>
                  <div class="col-8">
                    <input type="text" formControlName="fileControl" class="form-control"
                           [ngClass]="{'is-invalid': inputIsInvalid('fileControl')}">
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-center py-2">
                <button type="button" (click)="historyBack()" class="btn btn-danger btn-lg me-2">
                  <fa-icon [icon]="faArrowLeft"></fa-icon>
                  <span class="text-uppercase ms-1">Cancelar</span>
                </button>
                <button type="button" (click)="saveChanges()" class="btn btn-primary btn-lg">
                  <fa-icon [icon]="faSave"></fa-icon>
                  <span class="text-uppercase ms-1">Actualizar</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
