.favorites {
  span {
    font-size: 0.85rem;
    font-weight: bold;
  }

  .card {
    cursor: pointer;
  }

  .ng-fa-icon {
    font-size: 40px;
  }

  .d-flex {
    justify-content: space-between;
    align-items: center;
  }
}
