<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
    <fa-icon [icon]="faShareNodes" class="me-1"></fa-icon>
    <span>Aplicaciones</span>
  </a>
  <ul class="dropdown-menu fs-5">
    <li><a class="dropdown-item" [routerLink]="['/', companyId,  'contacts']">Contactos</a></li>
    <li><a class="dropdown-item" [routerLink]="['/', companyId,  'products']">Productos</a></li>
    <li *ngIf="isEnableModInventarios">
      <a class="dropdown-item" [routerLink]="['/', companyId, 'inventories', 'notas']">Inventarios</a>
    </li>
    <li *ngIf="isEnableModComprobantes">
      <a class="dropdown-item" [routerLink]="['/', companyId, 'sales']">Comprobantes</a>
    </li>
    <li *ngIf="isEnableModCuentaPorCobrar">
      <a class="dropdown-item" [routerLink]="['/', companyId, 'receivables']">Cuentas por Cobrar</a>
    </li>
    <li *ngIf="isEnableModReparaciones">
      <a class="dropdown-item" [routerLink]="['/', companyId, 'taller-reparaciones']">Reparaciones</a>
    </li>
    <!-- <li>
      <a class="dropdown-item"
        [routerLink]="['/', companyId, 'hoteles', 'recepcion', 'habitaciones-disponible']">Recepción</a>
    </li> -->
    <li *ngIf="isEnableModCajasDiaria">
      <hr class="dropdown-divider">
    </li>
    <li *ngIf="isEnableModCajasDiaria">
      <a class="dropdown-item" [routerLink]="['/', companyId, 'cashier']">Caja Diaria</a>
    </li>
  </ul>
</li>
