<div class="modal fade" id="und-medida-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <fa-icon [icon]="faBars" class="me-1"></fa-icon>
          <span class="text-uppercase">{{title}}</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="form-label text-uppercase">Nombre</label>
            <input type="text" class="form-control">
          </div>
          <div class="mb-0">
            <label class="form-label text-uppercase">Código Sunat</label>
            <input type="text" class="form-control">
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <span class="text-uppercase">Cerrar</span>
        </button>
        <button type="button" class="btn btn-primary">
          <span class="text-uppercase">Guardar Cambios</span>
        </button>
      </div>
    </div>
  </div>
</div>
