<app-product-container>
  <div class="row px-2">
    <div class="col-12 bg-white my-2 py-3">
      <form (submit)="submitSearch($event)" class="row row-cols-auto g-2">
        <div class="col-auto">
          <label class="col-form-label fw-bold">Filtrar por:</label>
        </div>
        <div class="col-12 col-md-4 col-lg-auto">
          <div class="input-group">
            <span class="input-group-text">
              <fa-icon [icon]="faFilter"></fa-icon>
            </span>
            <input type="search" [formControl]="query" class="form-control" placeholder="NOMBRE">
          </div>
        </div>
        <div class="col-6 col-md-3 col-lg-auto">
          <button type="submit" class="btn btn-success w-100">
            <fa-icon [icon]="faSearch"></fa-icon>
            <span class="text-uppercase ms-1">Buscar</span>
          </button>
        </div>
        <div class="col-6 col-md-3 col-lg-auto">
          <button type="button" (click)="showCategoryModal()" class="btn btn-primary w-100">
            <fa-icon [icon]="faPlus"></fa-icon>
            <span class="text-uppercase ms-1">Agregar</span>
          </button>
        </div>
      </form>
    </div>
    <div class="col-12 bg-white py-3 mb-2">
      <div class="table-responsive">
        <table class="table table-striped mb-0">
          <thead class="text-uppercase">
          <tr>
            <th colspan="3">
              <span class="text-danger-emphasis">{{ companyName }} | Categoría de Productos</span>
            </th>
          </tr>
          <tr class="table-secondary">
            <th>Descripción</th>
            <th></th>
          </tr>
          </thead>
          <tbody class="table-group-divider">
          <tr *ngFor="let item of categories">
            <td>{{ item.name }}</td>
            <td>
              <div class="tblBtn ms-auto">
                <button type="button" (click)="editCategoryModal(item)" class="btn btn-secondary btn-sm me-2">
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button type="button" (click)="deleteCategory(item.id)" class="btn btn-danger btn-sm">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-product-container>

<app-category-modal
  [categoryDataModal]="categoryDataModal"
  (responseData)="saveChangesDetail($event)">
</app-category-modal>
