<app-account-container>
  <form class="row row-cols-auto g-2 mb-2">
    <div class="col-auto">
      <label class="col-form-label fw-bold">Filtrar por:</label>
    </div>
    <div class="col-12 col-md-4 col-lg-auto">
      <div class="input-group">
        <span class="input-group-text">
          <fa-icon [icon]="faFilter"></fa-icon>
        </span>
        <input type="search" class="form-control" placeholder="R.U.C, o Razón Social">
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-auto">
      <button type="submit" class="btn btn-success w-100">
        <fa-icon [icon]="faSearch"></fa-icon>
        <span class="text-uppercase ms-1">Buscar</span>
      </button>
    </div>
    <div class="col-6 col-md-3 col-lg-auto">
      <button type="button" class="btn btn-primary w-100">
        <fa-icon [icon]="faPlus"></fa-icon>
        <span class="text-uppercase ms-1">Agregar</span>
      </button>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-striped mb-2">
      <thead>
        <tr class="table-primary text-uppercase">
          <th>R.U.C.</th>
          <th>Razón Social</th>
          <th>Teléfono</th>
          <th>Sunat</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <!--<tr *ngFor="let item of users.data">
          <td>{{item.userName|uppercase}}</td>
          <td>
            <a [routerLink]="['/account/users', item.id, 'suscripciones']">
              {{item.email}}
            </a>
          </td>
          <td>{{item.userType|uppercase}}</td>
          <td>
            <span *ngIf="!item.disabled" class="text-uppercase">Habilitado</span>
            <span *ngIf="item.disabled" class="text-uppercase">DesHabilitado</span>
          </td>
          <td class="text-end">
            <button type="button" (click)="editarUserModal(item)" class="btn btn-secondary btn-sm">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </td>
        </tr>-->
      </tbody>
    </table>
  </div>
</app-account-container>
