<app-navbar></app-navbar>
<div class="Wrapper">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <div class="row px-2">
      <div class="col-12 bg-white my-2 py-3">
        <h5 class="text-uppercase mb-0">Filtro de Búsqueda</h5>
        <hr class="mt-1 mb-2">
        <form [formGroup]="filterForm" (ngSubmit)="getTransferNotes()" class="row">
          <div class="col-2">
            <label class="form-label text-uppercase fw-bold">Almacén Origen</label>
            <select formControlName="origin" (change)="changeOriginWarehouses()" class="form-select">
              <option *ngFor="let item of warehouses" [value]="item.id">{{item.name}}</option>
            </select>
          </div>
          <div class="col-2">
            <label class="form-label text-uppercase fw-bold">Almacén Destino</label>
            <select formControlName="target" class="form-select">
              <option *ngFor="let item of targetWarehouses" [value]="item.id">{{item.name}}</option>
            </select>
          </div>
          <div class="col-2">
            <label class="form-label text-uppercase fw-bold">Año Reg.</label>
            <input type="number" formControlName="year" step="1" class="form-control">
          </div>
          <div class="col-2">
            <label class="form-label text-uppercase fw-bold">Mes Reg.</label>
            <select formControlName="month" class="form-select">
              <option value="01">ENERO</option>
              <option value="02">FEBRERO</option>
              <option value="03">MARZO</option>
              <option value="04">ABRIL</option>
              <option value="05">MAYO</option>
              <option value="06">JUNIO</option>
              <option value="07">JULIO</option>
              <option value="08">AGOSTO</option>
              <option value="09">SEPTIEMBRE</option>
              <option value="10">OCTUBRE</option>
              <option value="11">NOVIEMBRE</option>
              <option value="12">DICIEMBRE</option>
            </select>
          </div>
          <div class="col-4 d-flex flex-column justify-content-end">
            <div class="row row-cols-auto g-2">
              <div class="col-auto">
                <button type="submit" class="btn btn-success">
                  <fa-icon [icon]="faSearch"></fa-icon>
                  <span class="text-uppercase ms-1">Buscar</span>
                </button>
              </div>
              <div class="col-auto">
                <button type="button" routerLink="/inventory/transfer/form" class="btn btn-primary">
                  <fa-icon [icon]="faPlus"></fa-icon>
                  <span class="text-uppercase ms-1">Agregar</span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 bg-white py-3">
        <h5 class="fw-bold text-uppercase">Transferencia entre Almacenes</h5>
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
            <tr class="text-uppercase">
              <th>#</th>
              <th>Fecha</th>
              <th>Almacén Origen</th>
              <th>Almacén Destino</th>
              <th>Motivo</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of transferNotes">
              <td>{{item.id}}</td>
              <td>{{item.startDate|date}}</td>
              <td>{{item.origin.name}}</td>
              <td>{{item.target.name}}</td>
              <td>{{item.motivo.split('|')[1]}}</td>
              <td class="text-end">
                <div class="actions ms-auto">
                  <button type="button" [routerLink]="['/inventory/transfer/form', item.id]"
                          class="btn btn-secondary btn-sm me-2">
                    <fa-icon [icon]="faEdit"></fa-icon>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <pre>{{filterForm.value|json}}</pre>
    <pre>{{transferNotes|json}}</pre>

  </div>
</div>
