<app-navbar></app-navbar>
<main class="position-relative">
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row px-2">
        <div class="col-12 bg-white my-2 py-3">
          <form [formGroup]="queryForm" (ngSubmit)="getInventoryReasons()" class="row row-cols-auto g-2">
            <div class="col-auto">
              <label class="col-form-label fw-bold">Filtrar por:</label>
            </div>
            <div class="col-auto">
              <div class="input-group">
              <span class="input-group-text">
                <fa-icon [icon]="faFilter"></fa-icon>
              </span>
                <input type="search" formControlName="query" class="form-control" placeholder="DESCRIPCIÓN">
              </div>
            </div>
            <div class="col-auto">
              <select formControlName="type" class="form-select text-uppercase">
                <option value="Transfer">Transferencias</option>
                <option value="Input">Ingreso</option>
                <option value="Output">Salida</option>
              </select>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-success">
                <fa-icon [icon]="faSearch"></fa-icon>
                <span class="text-uppercase ms-1">Buscar</span>
              </button>
            </div>
            <div class="col-auto">
              <button type="button" (click)="showInventoryReasonModal()" class="btn btn-primary">
                <fa-icon [icon]="faPlus"></fa-icon>
                <span class="text-uppercase ms-1">Agregar</span>
              </button>
            </div>
          </form>
        </div>
        <div class="col-12 bg-white py-3 mb-2">
          <h5 class="fw-bold text-uppercase">Motivos de Inventario</h5>
          <div class="table-responsive">
            <table class="table table-striped mb-0">
              <thead>
              <tr class="text-uppercase">
                <th>Descripción</th>
                <th>Tipo</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of inventoryReasons">
                <td>{{item.description}}</td>
                <td>{{item.type|uppercase}}</td>
                <td>
                  <div class="tblBtn ms-auto">
                    <button type="button"
                            (click)="editInventoryReasonModal(item.id)" class="btn btn-secondary btn-sm me-2">
                      <fa-icon [icon]="faEdit"></fa-icon>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm">
                      <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-inventory-reason-modal
  [title]="title" [inventoryReason]="currentInventoryReason"
  (responseData)="hideInventoryReasonModal($event)">
</app-inventory-reason-modal>
