<app-inventory-container>
  <div class="row px-2">
    <div class="col-12 bg-white my-2 py-3">
      <h5 class="text-uppercase text-center mb-1">Lista de Productos por Reponer</h5>
      <div class="table-responsive">
        <table class="table table-striped mb-0">
          <thead class="table-primary">
          <tr class="text-uppercase">
            <th>Producto</th>
            <th>Max</th>
            <th>Min</th>
            <th>Stock</th>
            <th>Cant. Req</th>
          </tr>
          </thead>
          <tbody class="table-group-divider">
          <tr *ngFor="let item of locationDetailStocks">
            <td>{{ item.description }}</td>
            <td>{{ item.quantityMax }}</td>
            <td>{{ item.quantityMin }}</td>
            <td>{{ item.stock }}</td>
            <td>{{ item.quantityMax - item.stock }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-inventory-container>
