<div class="modal fade" id="habitacionHotelModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-uppercase">{{data.title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="habitacionHotelForm">
          <div class="row mb-3">
            <label class="col-form-label col-3 text-end">Nombre</label>
            <div class="col-6">
              <input type="text" formControlName="nombre" class="form-control"
                [ngClass]="{'is-invalid': inputIsInvalid('nombre')}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-form-label col-3 text-end">Piso</label>
            <div class="col-6">
              <select formControlName="pisoHotelId" class="form-select"
                [ngClass]="{'is-invalid': inputIsInvalid('pisoHotelId')}">
                <option *ngFor="let item of pisosHotel" [value]="item.id">{{item.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-form-label col-3 text-end">Categoría</label>
            <div class="col-6">
              <select formControlName="categoriaHabitacionId" class="form-select"
                [ngClass]="{'is-invalid': inputIsInvalid('categoriaHabitacionId')}">
                <option *ngFor="let item of categoriasHabitacion" [value]="item.id">{{item.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-form-label col-3 text-end">Precio</label>
            <div class="col-6">
              <input type="number" formControlName="precio" step="0.01" class="form-control"
                [ngClass]="{'is-invalid': inputIsInvalid('precio')}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-form-label col-3 text-end">Tarifa</label>
            <div class="col-6">
              <select formControlName="tarifaHoras" class="form-select"
                [ngClass]="{'is-invalid': inputIsInvalid('tarifaHoras')}">
                <option *ngFor="let h of hoursRange" [value]="h">{{ h }} hrs</option>
              </select>
            </div>
          </div>
          <div class="row">
            <label class="col-form-label col-3 text-end">Estado</label>
            <div class="col-6">
              <select formControlName="estado" class="form-select" [ngClass]="{'is-invalid': inputIsInvalid('estado')}">
                <option value="DISPONIBLE">DISPONIBLE</option>
                <option value="OCUPADO">OCUPADO</option>
                <option value="LIMPIEZA">LIMPIEZA</option>
              </select>
            </div>
          </div>
          <label class="form-label">Observación</label>
          <textarea formControlName="remark" class="form-control"></textarea>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">
          <span class="text-uppercase">Cerrar</span>
        </button>
        <button type="button" (click)="saveChanges()" class="btn btn-primary btn-lg">
          <span class="text-uppercase">Guardar</span>
        </button>
      </div>
    </div>
  </div>
</div>
