<div id="offcanvas" class="offcanvas offcanvas-start" tabindex="-1">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">
      <span class="text-uppercase">Menú Principal</span>
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Punto de Venta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lista de Ventas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gestión de efectivo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reportes</a>
      </li>
    </ul>
  </div>
</div>
