<app-contact-detail-container [type]="'ventas'">
  <form (ngSubmit)="cargarRegistroDeVentas()" [formGroup]="queryForm" class="row row-cols-auto g-2 mb-2">
    <div class="col-auto">
      <label class="col-form-label fw-bold">Filtrar por:</label>
    </div>
    <div class="col-auto">
      <input type="number" formControlName="year" step="1" value="2021" class="form-control" style="width: 100px;">
    </div>
    <div class="col-auto">
      <select formControlName="month" class="form-select">
        <option value="01">ENERO</option>
        <option value="02">FEBRERO</option>
        <option value="03">MARZO</option>
        <option value="04">ABRIL</option>
        <option value="05">MAYO</option>
        <option value="06">JUNIO</option>
        <option value="07">JULIO</option>
        <option value="08">AGOSTO</option>
        <option value="09">SEPTIEMBRE</option>
        <option value="10">OCTUBRE</option>
        <option value="11">NOVIEMBRE</option>
        <option value="12">DICIEMBRE</option>
      </select>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-success">
        <fa-icon [icon]="faSearch"></fa-icon>
        <span class="text-uppercase ms-1">Buscar</span>
      </button>
    </div>
    <div class="col-auto">
      <button type="button" (click)="nuevoComprobante()" class="btn btn-primary">
        <fa-icon [icon]="faPlus"></fa-icon>
        <span class="text-uppercase ms-1">Comprobante</span>
      </button>
    </div>
  </form>
  <div class="table-responsive">
    <table class="table table-striped mb-0">
      <thead class="table-secondary">
      <tr class="text-uppercase">
        <th>Tipo</th>
        <th>Fecha</th>
        <th>Documento</th>
        <th>F.Pago</th>
        <th>Monto</th>
        <th>SUNAT</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr *ngFor="let item of registroDeVentas">
        <td>{{ item.tipoDoc|getInvoiceType }}</td>
        <td>{{ item.fechaEmision|date }}</td>
        <td>
          <a class="text-decoration-none" *ngIf="item.tipoDoc === 'NOTA'"
             [routerLink]="['/', 'cashier','ticket', item.id]">
            {{ item.serie }}-{{ item.correlativo }}
          </a>
          <a class="text-decoration-none" *ngIf="item.tipoDoc !== 'NOTA'"
             [routerLink]="['/', 'sales', 'invoice-sale-detail', item.id]">
            {{ item.serie }}-{{ item.correlativo }}
          </a>
        </td>
        <td class="text-uppercase">{{ item.formaPago.tipo }}</td>
        <td>{{ item.mtoImpVenta.toFixed(4)|currency }}</td>
        <td>{{ item.billingResponse.cdrDescription }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</app-contact-detail-container>
