<app-navbar></app-navbar>
<div class="Wrapper">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <div class="row px-2">
      <div class="col-12 bg-white my-2 py-3">
        <form class="row row-cols-auto g-2">
          <div class="col-auto">
            <label class="col-form-label fw-bold">Filtrar por:</label>
          </div>
          <div class="col-auto">
            <select class="form-select">
              <option value="PRODUCTO">PRODUCTO</option>
              <option value="ALMACÉN">ALMACÉN</option>
            </select>
          </div>
          <div class="col-auto">
            <input type="search" class="form-control" placeholder="PROD/ALMACÉN...">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success">
              <fa-icon [icon]="faSearch"></fa-icon>
              <span class="text-uppercase ms-1">Buscar</span>
            </button>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-primary">
              <fa-icon [icon]="faPlus"></fa-icon>
              <span class="text-uppercase ms-1">Agregar</span>
            </button>
          </div>
        </form>
      </div>
      <div class="col-12 bg-white py-3">
        <h5 class="fw-bold text-uppercase">Notas de Salida</h5>
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
            <tr class="text-uppercase">
              <th>Producto</th>
              <th>Almacén</th>
              <th>Stock</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Impresora Epson TM-20II</td>
              <td>Almacén Principal</td>
              <td>10</td>
              <td>
                <div class="actions ms-auto">
                  <button type="button" class="btn btn-secondary btn-sm me-2">
                    <fa-icon [icon]="faSignOutAlt"></fa-icon>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td>Papel A4 Copy-Max</td>
              <td>Almacén Principal</td>
              <td>50</td>
              <td>
                <div class="actions ms-auto">
                  <button type="button" class="btn btn-secondary btn-sm me-2">
                    <fa-icon [icon]="faSignOutAlt"></fa-icon>
                  </button>
                  <button type="button" class="btn btn-danger btn-sm">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
