<div class="row px-2">
  <div class="col-12 bg-white my-2 py-3">
    <form (ngSubmit)="cargarComprobantes()" [formGroup]="queryForm" class="row row-cols-auto g-2">
      <div class="col-12 col-lg-auto">
        <label class="col-form-label fw-bold">Filtrar por:</label>
      </div>
      <div class="col-auto">
        <input type="number" formControlName="year" step="1" value="2021" style="width: 100px;" class="form-control">
      </div>
      <div class="col-8 col-lg-auto">
        <select formControlName="month" class="form-select" style="max-width: 200px;">
          <option value="01">ENERO</option>
          <option value="02">FEBRERO</option>
          <option value="03">MARZO</option>
          <option value="04">ABRIL</option>
          <option value="05">MAYO</option>
          <option value="06">JUNIO</option>
          <option value="07">JULIO</option>
          <option value="08">AGOSTO</option>
          <option value="09">SEPTIEMBRE</option>
          <option value="10">OCTUBRE</option>
          <option value="11">NOVIEMBRE</option>
          <option value="12">DICIEMBRE</option>
        </select>
      </div>
      <div class="col-5 col-md-4 col-lg-auto">
        <button type="submit" class="btn btn-success w-100">
          <fa-icon [icon]="faSearch"></fa-icon>
          <span class="text-uppercase ms-1">Buscar</span>
        </button>
      </div>
      <div class="col-7 col-md-4 col-lg-auto">
        <button type="button" routerLink="/purchases/add" class="btn btn-primary w-100">
          <fa-icon [icon]="faPlus"></fa-icon>
          <span class="text-uppercase ms-1">Comprobante</span>
        </button>
      </div>
      <div class="col-12 col-md-4 col-lg-auto">
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">
            <fa-icon [icon]="faList" class="me-1"></fa-icon>
            <span class="text-uppercase">Opciones</span>
          </button>
          <ul class="dropdown-menu">
            <!-- <li class="text-uppercase">
              <a class="dropdown-item" href="#">Búsqueda avanzada</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li> -->
            <li class="text-uppercase">
              <a class="dropdown-item" (click)="descargarRegistroDeComprasF81($event)" href="#">Registro de Compras -
                F8.1</a>
            </li>
            <li class="text-uppercase">
              <a class="dropdown-item" (click)="abrirModalConsultarValidezDiaria($event)" href="#">Consulta Validez
                Diaria</a>
            </li>
            <li class="text-uppercase">
              <a class="dropdown-item" (click)="descargarConsultaValidezMensual($event)" href="#">Consulta Validez
                Mensual</a>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 bg-white py-3">
    <div class="table-responsive">
      <table class="table table-striped mb-0">
        <thead>
        <tr>
          <th colspan="8">
            <fa-icon [icon]="faCartShopping" class="me-1"></fa-icon>
            <span class="text-uppercase">Comprobantes de compra</span>
            <span class="mx-1">|</span>
            <a href="#" class="text-decoration-none" target="_blank">Ayuda</a>
          </th>
        </tr>
        <tr class="table-info text-uppercase">
          <th>Fecha</th>
          <th>Tipo</th>
          <th>Comprobante</th>
          <th>Proveedor</th>
          <th>Total</th>
          <th></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr *ngFor="let item of purchaseInvoices">
          <td>{{ item.fecEmision|date }}</td>
          <td>{{ item.docType }}</td>
          <td>
            <a [routerLink]="['/purchases/edit/', item.id]">{{ item.serie }}-{{ item.number }}</a>
          </td>
          <td>{{ item.rznSocialProveedor }}</td>
          <td>{{ item.sumImpCompra|currency }}</td>
          <td>
            <div class="tblBtn ms-auto">
              <button type="button" [routerLink]="['/purchases/edit/', item.id]"
                      class="btn btn-secondary btn-sm me-2">
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
              <button type="button" (click)="deleteComprobante(item.id)" class="btn btn-danger btn-sm">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-consultar-validez-diaria-modal
  (responseData)="redirectConsultarValidezDiaria($event)">
</app-consultar-validez-diaria-modal>
