<app-navbar></app-navbar>
<div class="Wrapper">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <div class="row px-2">
      <div class="col-12 bg-white shadow-sm my-2 py-3">
        <h5 class="text-uppercase d-inline mb-0">Nota de Transferencia</h5>
        <hr class="mt-1 mb-2">
        <form [formGroup]="transferForm" class="row">
          <div class="col-12">
            <div class="row mb-3">
              <label class="col-1 col-form-label text-uppercase text-end">Origen</label>
              <div class="col-3">
                <select formControlName="origin" (change)="changeOriginWarehouse()" class="form-select">
                  <option *ngFor="let item of warehouses" [value]="item.id">{{item.name}}</option>
                </select>
              </div>
              <label class="col-1 col-form-label text-uppercase text-end">Destino</label>
              <div class="col-3">
                <select formControlName="target" class="form-select">
                  <option *ngFor="let item of targetWarehouses" [value]="item.id">{{item.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row mb-3">
              <label class="col-1 col-form-label text-uppercase text-end">Motivo</label>
              <div class="col-3">
                <select formControlName="motivo" class="form-select">
                  <option *ngFor="let item of motivos" [value]="item.id">{{item.description}}</option>
                </select>
              </div>
              <label class="col-1 col-form-label text-uppercase text-end">Fecha</label>
              <div class="col-3">
                <input type="date" formControlName="startDate" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr class="text-uppercase">
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Precio U.</th>
                  <th>Importe</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of itemNotes">
                  <td class="text-uppercase">{{item.description}}</td>
                  <td class="max-width">
                    <input type="number" [value]="item.quantity"
                           (change)="changeQuantity(item.productId, $event.target)"
                           step="0.1" class="form-control">
                  </td>
                  <td class="max-width">
                    <input type="number" [value]="item.price"
                           (change)="changePrice(item.productId, $event.target)"
                           step="0.1" class="form-control">
                  </td>
                  <td class="max-width">
                    <input type="number" [value]="item.amount" step="0.1" class="form-control" readonly>
                  </td>
                  <td style="width: 50px;">
                    <button type="button" (click)="deleteItem(item.productId)" class="btn btn-danger">
                      <fa-icon [icon]="faTrashAlt"></fa-icon>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12 mb-2">
            <button type="button" (click)="showItemComprobanteModal()" class="btn btn-dark">
              <fa-icon [icon]="faPlus" class="me-1"></fa-icon>
              <span class="text-uppercase">Agregar Item Producto</span>
            </button>
          </div>
          <div class="col-8">
            <div class="mb-3">
              <label class="form-label text-uppercase">Glosa</label>
              <textarea formControlName="remark" class="form-control"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="d-flex justify-content-center bg-white shadow-sm mb-2 py-3">
        <button type="button" class="btn btn-danger btn-lg me-2">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
          <span class="text-uppercase ms-1">Cancelar</span>
        </button>
        <button type="button" (click)="register()" class="btn btn-primary btn-lg">
          <fa-icon [icon]="faSave"></fa-icon>
          <span class="text-uppercase ms-1">Registrar</span>
        </button>
      </div>
    </div>

    <pre>{{transferId|json}}</pre>
    <pre>{{transferForm.value|json}}</pre>
    <pre>{{itemNotes|json}}</pre>

  </div>
</div>

<app-item-comprobante
  (responseData)="hideItemComprobanteModal($event)">
</app-item-comprobante>
