<app-navbar></app-navbar>
<div class="Wrapper">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <div class="row px-2">
      <div class="col-12 bg-white shadow-sm my-2 py-3">
        <div class="d-flex align-items-center">
          <h5 class="text-uppercase d-inline me-2 mb-0">Nota de Transferencia</h5>
          <button type="button" class="btn btn-danger btn-sm">
            <fa-icon [icon]="faArrowLeft" class="me-1"></fa-icon>
            <span class="text-uppercase">Regresar</span>
          </button>
        </div>
        <hr class="mt-1 mb-2">
        <form [formGroup]="transferForm" class="row">
          <div class="col-12">
            <div class="row mb-3">
              <label class="col-1 col-form-label text-end">Origen</label>
              <div class="col-3">
                <select formControlName="origin" (change)="changeOriginWarehouse()" class="form-select">
                  <option *ngFor="let item of warehouses" [value]="item.id">{{item.name}}</option>
                </select>
              </div>
              <label class="col-1 col-form-label text-end">Destino</label>
              <div class="col-3">
                <select formControlName="target" class="form-select">
                  <option *ngFor="let item of targetWarehouses" [value]="item.id">{{item.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row mb-3">
              <label class="col-1 col-form-label text-end">Motivo</label>
              <div class="col-3">
                <select class="form-select"></select>
              </div>
              <label class="col-1 col-form-label text-end">Fecha</label>
              <div class="col-3">
                <input type="date" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr class="text-uppercase">
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Precio U.</th>
                  <th>Total</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="text-uppercase">ZAPATILLAS ADIDAS 2020</td>
                  <td class="max-width">
                    <input type="number" step="0.1" class="form-control">
                  </td>
                  <td class="max-width">
                    <input type="number" step="0.1" class="form-control">
                  </td>
                  <td class="max-width">
                    <input type="number" step="0.1" class="form-control">
                  </td>
                  <td style="width: 100px;">
                    <div class="actions">
                      <button type="button" class="btn btn-secondary btn-sm me-2">
                        <fa-icon [icon]="faEdit"></fa-icon>
                      </button>
                      <button type="button" class="btn btn-danger btn-sm">
                        <fa-icon [icon]="faTrashAlt"></fa-icon>
                      </button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12 mb-2">
            <button type="button" class="btn btn-dark">
              <fa-icon [icon]="faPlus" class="me-1"></fa-icon>
              <span class="text-uppercase">Agregar Item Producto</span>
            </button>
          </div>
          <div class="col-8">
            <div class="mb-3">
              <label class="form-label">Glosa</label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="d-flex justify-content-center bg-white shadow-sm mb-2 py-3">
        <button type="button" class="btn btn-danger btn-lg me-2">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
          <span class="text-uppercase ms-1">Cancelar</span>
        </button>
        <button type="button" class="btn btn-primary btn-lg">
          <fa-icon [icon]="faSave"></fa-icon>
          <span class="text-uppercase ms-1">Registrar</span>
        </button>
      </div>
    </div>

    <pre>{{transferForm.value|json}}</pre>

  </div>
</div>
