<div class="modal fade" id="product-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <fa-icon [icon]="faBars"></fa-icon>
          <span class="text-uppercase ms-1">{{title}}</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-1">
        <form [formGroup]="productForm">
          <div class="pb-1">
            <label class="col-form-label-sm text-uppercase">Descripción producto</label>
            <input type="text" formControlName="description" class="form-control">
            <div class="invalid-feedback">La descripción es requerido.</div>
          </div>
          <div class="row">
            <div class="col-6 pb-1">
              <label class="col-form-label-sm text-uppercase">GS1/GTIN-13 (EAN-13)</label>
              <input type="text" formControlName="barcode" class="form-control">
            </div>
            <div class="col-6 mb-1">
              <label class="col-form-label-sm text-uppercase">IMPUESTO ICBPER</label>
              <select formControlName="icbper" class="form-select">
                <option value="NO">NO</option>
                <option value="SI">SI, IMPUESTO BOLSAS PLÁSTICAS</option>
              </select>
              <div class="invalid-feedback">El impuesto de bolsas es requerido.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 pb-1">
              <label class="col-form-label-sm text-uppercase">Precio Total</label>
              <input type="number" formControlName="price" step="0.01" class="form-control">
              <div class="invalid-feedback">El precio es requerido.</div>
            </div>
            <div class="col-6 mb-1">
              <label class="col-form-label-sm text-uppercase">IGV (18%)</label>
              <select formControlName="igvSunat" class="form-select">
                <option value="GRAVADO">GRAVADO</option>
                <option value="EXONERADO">EXONERADO</option>
                <option value="INAFECTO">INAFECTO</option>
              </select>
              <div class="invalid-feedback">El IGV es requerido.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mb-1">
              <label class="col-form-label-sm text-uppercase">Tipo ítem</label>
              <select formControlName="type" class="form-select">
                <option value="BIEN">BIEN</option>
                <option value="SERVICIO">SERVICIO</option>
              </select>
              <div class="invalid-feedback">El tipo de ítem es requerido.</div>
            </div>
            <div class="col-6 mb-1">
              <label class="col-form-label-sm text-uppercase">Unidad de medida</label>
              <select formControlName="undMedidaId" class="form-select">
                <option *ngFor="let item of undMedidas" [value]="item.id">{{item.name}}</option>
              </select>
              <div class="invalid-feedback">La unidad de medida es requerido.</div>
            </div>
          </div>
          <div class="mb-0">
            <label class="col-form-label-sm text-uppercase">Imagen del producto</label>
            <input class="form-control" type="file" #inputFile (change)="selectedImage($event)">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-uppercase" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" (click)="saveChanges()" class="btn btn-primary text-uppercase">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
