<div class="modal fade" id="product-modal"
     data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <fa-icon [icon]="faBars"></fa-icon>
          <span class="text-uppercase ms-1">{{title}}</span>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pt-1">
        <form [formGroup]="productForm" class="row">
          <div class="col-7">
            <div class="pb-1">
              <label class="col-form-label-sm text-uppercase">Descripción producto</label>
              <input type="text" formControlName="description" class="form-control"
                     [ngClass]="{'is-invalid': inputIsInvalid('description')}">
            </div>
            <div class="row">
              <div class="col-6 pb-1">
                <label class="col-form-label-sm text-uppercase">GS1/GTIN-13 (EAN-13)</label>
                <input type="text" formControlName="barcode" class="form-control"
                       [ngClass]="{'is-invalid': inputIsInvalid('barcode')}">
              </div>
              <div class="col-6 mb-1">
                <label class="col-form-label-sm text-uppercase">Precio Total</label>
                <input type="number" formControlName="price1" step="0.1" class="form-control"
                       [ngClass]="{'is-invalid': inputIsInvalid('price1')}">
              </div>
            </div>
            <div class="row">
              <div class="col-6 pb-1">
                <label class="col-form-label-sm text-uppercase">Precio Mayoreo</label>
                <input type="number" formControlName="price2" step="0.1" class="form-control"
                       [ngClass]="{'is-invalid': inputIsInvalid('price2')}">
              </div>
              <div class="col-6 pb-1">
                <label class="col-form-label-sm text-uppercase">A partir ## Und</label>
                <input type="number" formControlName="fromQty" step="0.1" class="form-control"
                       [ngClass]="{'is-invalid': inputIsInvalid('fromQty')}">
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label class="col-form-label-sm text-uppercase">Tipo de Impuesto</label>
                <select formControlName="igvSunat" class="form-select"
                        [ngClass]="{'is-invalid': inputIsInvalid('igvSunat')}">
                  <option value="GRAVADO">IMPUESTO GENERAL A LAS VENTAS</option>
                  <option value="EXONERADO">EXONERADO</option>
                  <option value="GRATUITO">GRATUITO</option>
                </select>
              </div>
              <div class="col-6">
                <label class="col-form-label-sm text-uppercase">IMPUESTO ICBPER</label>
                <select formControlName="icbper" class="form-select"
                        [ngClass]="{'is-invalid': inputIsInvalid('icbper')}">
                  <option value="NO">NO</option>
                  <option value="SI">SI, IMPUESTO BOLSAS PLÁSTICAS</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="mb-1">
              <label class="col-form-label-sm">
                <span class="text-uppercase me-1">Categoria</span>
                <a href="#" (click)="showCategoryModal($event)"
                   class="text-uppercase text-decoration-none">[ Agregar ]</a>
              </label>
              <select id="categoryId" class="form-select"
                      [ngClass]="{'is-invalid': inputIsInvalid('categoryId')}"></select>
            </div>
            <div class="mb-1">
              <label class="col-form-label-sm text-uppercase">Unidad de medida</label>
              <select formControlName="undMedidaId" class="form-select"
                      [ngClass]="{'is-invalid': inputIsInvalid('undMedidaId')}">
                <option value="4A:BOBINAS">BOBINAS</option>
                <option value="BJ:BALDE">BALDE</option>
                <option value="BLL:BARRILES">BARRILES</option>
                <option value="BG:BOLSA">BOLSA</option>
                <option value="BO:BOTELLAS">BOTELLAS</option>
                <option value="BX:CAJA">CAJA</option>
                <option value="CT:CARTONES">CARTONES</option>
                <option value="CY:CILINDRO">CILINDRO</option>
                <option value="CJ:CONOS">CONOS</option>
                <option value="DZN:DOCENA">DOCENA</option>
                <option value="BE:FARDO">FARDO</option>
                <option value="GLI:GALÓN INGLES (4,545956L)">GALÓN INGLES (4,545956L)</option>
                <option value="GRM:GRAMO">GRAMO</option>
                <option value="LEF:HOJA">HOJA</option>
                <option value="SET:JUEGO">JUEGO</option>
                <option value="KGM:KILOGRAMO">KILOGRAMO</option>
                <option value="KT:KIT">KIT</option>
                <option value="CA:LATAS">LATAS</option>
                <option value="LBR:LIBRAS">LIBRAS</option>
                <option value="LTR:LITRO">LITRO</option>
                <option value="MTR:METRO">METRO</option>
                <option value="MGM:MILIGRAMOS">MILIGRAMOS</option>
                <option value="MLT:MILILITRO">MILILITRO</option>
                <option value="MMT:MILIMETRO">MILIMETRO</option>
                <option value="MIL:MILLARES">MILLARES</option>
                <option value="ONZ:ONZAS">ONZAS</option>
                <option value="PF:PALETAS">PALETAS</option>
                <option value="PK:PAQUETE">PAQUETE</option>
                <option value="PR:PAR">PAR</option>
                <option value="C62:PIEZAS">PIEZAS</option>
                <option value="PG:PLACAS">PLACAS</option>
                <option value="ST:PLIEGO">PLIEGO</option>
                <option value="INH:PULGADAS">PULGADAS</option>
                <option value="TU:TUBOS">TUBOS</option>
                <option value="NIU:UNIDAD (BIENES)">UNIDAD (BIENES)</option>
                <option value="ZZ:UNIDAD (SERVICIOS)">UNIDAD (SERVICIOS)</option>
                <option value="GLL:US GALON (3,7843 L)">US GALON (3,7843 L)</option>
                <option value="YRD:YARDA">YARDA</option>
                <option value="YDK:YARDA CUADRADA">YARDA CUADRADA</option>
              </select>
            </div>
            <div class="mb-1">
              <label class="col-form-label-sm text-uppercase">Tipo ítem</label>
              <select formControlName="type" class="form-select"
                      [ngClass]="{'is-invalid': inputIsInvalid('type')}">
                <option value="BIEN">BIEN</option>
                <option value="SERVICIO">SERVICIO</option>
              </select>
            </div>
            <label class="col-form-label-sm text-uppercase">Imagen del producto</label>
            <input class="form-control" type="file" #inputFile (change)="selectedImage($event)">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          <span class="text-uppercase">Cerrar</span>
        </button>
        <button type="button" (click)="saveChanges()" class="btn btn-primary">
          <span class="text-uppercase">Guardar cambios</span>
        </button>
      </div>
    </div>
  </div>
</div>

<app-category-modal
  [title]="'Agregar Categoría'"
  (responseData)="hideCategoryModal($event)">
</app-category-modal>
