<app-navbar></app-navbar>
<main class="position-relative">
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="bg-white p-4 my-2">
        <h5 class="text-uppercase">Opciones del Sistema</h5>
        <div class="border rounded p-3">
          <div class="row">
            <div *ngIf="authUser.role === 'Admin'" class="col-4">
              <app-router-link
                [icon]="faCog"
                [title]="'General'"
                [detail]="'Configurar Empresa'"
                [href]="'/system/configuration'">
              </app-router-link>
            </div>
            <div *ngIf="authUser.role === 'Admin'" class="col-4">
              <app-router-link
                [icon]="faUserCog"
                [title]="'Usuarios'"
                [detail]="'Lista de Usuarios'"
                [href]="'/user'">
              </app-router-link>
            </div>
            <div class="col-4">
              <app-router-link
                [icon]="faWarehouse"
                [title]="'Almacenes'"
                [detail]="'Lista de Almacenes'"
                [href]="'/system/warehouse'">
              </app-router-link>
            </div>
            <div *ngIf="authUser.role === 'Admin'" class="col-4">
              <app-router-link
                [icon]="faReceipt"
                [title]="'Series'"
                [detail]="'Series de Facturación'"
                [href]="'/system/invoice-serie'">
              </app-router-link>
            </div>
            <div class="col-4">
              <app-router-link
                [icon]="faTags"
                [title]="'Categorías'"
                [detail]="'Categoría de Productos'"
                [href]="'/products/category'">
              </app-router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
