<app-account-container>
  <h5>Mis Empresas</h5>
  <div *ngFor="let item of companies" class="card mb-2">
    <div class="card-body">
      <h4>{{ item.ruc }} - {{ item.rznSocial }}</h4>
      <p class="mb-0">{{ item.address }}</p>
      <div class="d-flex">
        <a [routerLink]="['/account/mycompanies', item.id, 'edit']" class="btn btn-primary me-2">
          <fa-icon [icon]="faPenToSquare" class="me-1"></fa-icon>
          <span class="text-uppercase">Editar</span>
        </a>
        <a [routerLink]="['/account/mycompanies', item.id, 'certificado']" class="btn btn-secondary">
          <fa-icon [icon]="faEye" class="me-1"></fa-icon>
          <span class="text-uppercase">Ver detalles</span>
        </a>
      </div>
    </div>
  </div>
  <a routerLink="/account/mycompanies/add" class="btn btn-success">
    <fa-icon [icon]="faCirclePlus" class="me-1"></fa-icon>
    <span class="text-uppercase">Agregar Empresa</span>
  </a>
</app-account-container>
