<form [formGroup]="companyForm" (ngSubmit)="saveChanges()">
  <div class="row mb-3">
    <label class="col-12 col-md-2 col-form-label text-start text-md-end fw-bold">R.U.C</label>
    <div class="col-12 col-md-8 col-lg-3">
      <input type="text" formControlName="ruc" class="form-control" [ngClass]="{'is-invalid': inputIsInvalid('ruc')}">
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-12 col-md-2 col-form-label text-start text-md-end fw-bold">Razón Social</label>
    <div class="col-12 col-md-8">
      <input type="text" formControlName="rznSocial" class="form-control"
        [ngClass]="{'is-invalid': inputIsInvalid('rznSocial')}">
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-12 col-md-2 col-form-label text-start text-md-end fw-bold">Dirección</label>
    <div class="col-12 col-md-8">
      <input type="text" formControlName="address" class="form-control"
        [ngClass]="{'is-invalid': inputIsInvalid('address')}">
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-12 col-md-2 col-form-label text-start text-md-end fw-bold">Teléfono</label>
    <div class="col-12 col-md-3">
      <input type="text" formControlName="phoneNumber" class="form-control">
    </div>
    <label class="col-12 col-md-2 col-form-label text-start text-md-end fw-bold">Ancho Ticket</label>
    <div class="col-12 col-md-3">
      <input type="text" formControlName="anchoTicket" class="form-control">
    </div>
  </div>
  <div class="mb-3">
    <h5 class="title-section mb-0">
      <fa-icon [icon]="faClipboardList" class="me-1"></fa-icon>
      <span>Configuración para la venta</span>
    </h5>
  </div>
  <div class="row mb-3">
    <label class="col-12 col-md-2 col-form-label text-start text-md-end fw-bold">Cod. Local</label>
    <div class="col-12 col-md-3">
      <input type="text" formControlName="codLocalEmisor" class="form-control">
    </div>
    <label class="col-md-2 col-form-label text-start text-md-end fw-bold">Cod. Moneda</label>
    <div class="col-12 col-md-3">
      <input type="text" formControlName="tipMoneda" class="form-control">
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-12 col-md-2 col-form-label text-start text-md-end fw-bold">Porcentaje IGV</label>
    <div class="col-12 col-md-3">
      <input type="number" formControlName="porcentajeIgv" step="0.1" class="form-control">
    </div>
    <label class="col-12 col-md-2 col-form-label text-start text-md-end fw-bold">Monto ICBPER</label>
    <div class="col-12 col-md-3">
      <input type="number" formControlName="valorImpuestoBolsa" step="0.1" class="form-control">
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-12 col-md-2 col-form-label text-start text-md-end fw-bold">Cliente</label>
    <div class="col-12 col-md-3">
      <select id="contactId" class="form-select" [disabled]="formType === 'ADD'"></select>
    </div>
    <label class="col-12 col-md-2 col-form-label text-start text-md-end fw-bold">Dias Plazo</label>
    <div class="col-12 col-md-3">
      <input type="number" formControlName="diasPlazo" class="form-control">
    </div>
  </div>
  <div class="mb-3">
    <h5 class="title-section mb-0">
      <fa-icon [icon]="faLocationCrosshairs" class="me-1"></fa-icon>
      <span>Otros datos de Configuración</span>
    </h5>
  </div>
  <div class="row mb-3">
    <label class="col-md-2 col-form-label text-start text-md-end fw-bold">Departamento</label>
    <div class="col-12 col-md-8">
      <input type="text" formControlName="departamento" class="form-control">
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-12 col-md-2 col-form-label text-start text-md-end fw-bold">Provincia</label>
    <div class="col-12 col-md-3">
      <input type="text" formControlName="provincia" class="form-control">
    </div>
    <label class="col-12 col-md-2 col-form-label text-start text-md-end fw-bold">Distrito</label>
    <div class="col-12 col-md-3">
      <input type="text" formControlName="distrito" class="form-control">
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-12 col-md-2 col-form-label text-start text-md-end fw-bold">Urbanización</label>
    <div class="col-12 col-md-3">
      <input type="text" formControlName="urbanizacion" class="form-control">
    </div>
    <label class="col-12 col-md-2 col-form-label text-start text-md-end fw-bold">Cod. Ubigeo</label>
    <div class="col-12 col-md-3">
      <input type="text" formControlName="ubigueo" class="form-control">
    </div>
  </div>
  <div class="mb-3">
    <h5 class="title-section mb-0">
      <fa-icon [icon]="faLock" class="me-1"></fa-icon>
      <span>Configuración de Clave SOL</span>
    </h5>
  </div>
  <div formGroupName="claveSol" class="row mb-3">
    <label class="col-12 col-md-2 col-form-label text-start text-md-end fw-bold">Usuario</label>
    <div class="col-12 col-md-3">
      <input type="text" formControlName="user" class="form-control">
    </div>
    <label class="col-12 col-md-2 col-form-label text-start text-md-end fw-bold">Contraseña</label>
    <div class="col-12 col-md-3">
      <input type="text" formControlName="password" class="form-control">
    </div>
  </div>
  <div class="mb-3">
    <h5 class="title-section mb-0">
      <fa-icon [icon]="faCog" class="me-1"></fa-icon>
      <span>Configurar Módulos del Sistema</span>
    </h5>
  </div>
  <div class="row mb-3 fw-bold">
    <div class="col-3">
      <div class="form-check form-switch">
        <input class="form-check-input" formControlName="modInventarios" type="checkbox" role="switch"
          id="flexSwitchInventarios">
        <label class="form-check-label" for="flexSwitchInventarios">Inventarios</label>
      </div>
    </div>
    <div class="col-3">
      <div class="form-check form-switch">
        <input class="form-check-input" formControlName="modComprobantes" type="checkbox" role="switch"
          id="flexSwitchComprobantes">
        <label class="form-check-label" for="flexSwitchComprobantes">Comprobantes</label>
      </div>
    </div>
    <div class="col-3">
      <div class="form-check form-switch">
        <input class="form-check-input" formControlName="modCuentaPorCobrar" type="checkbox" role="switch"
          id="flexSwitchCuentas">
        <label class="form-check-label" for="flexSwitchCuentas">Cuentas por Cobrar</label>
      </div>
    </div>
    <div class="col-3">
      <div class="form-check form-switch">
        <input class="form-check-input" formControlName="modReparaciones" type="checkbox" role="switch"
          id="flexSwitchReparaciones">
        <label class="form-check-label" for="flexSwitchReparaciones">Reparaciones</label>
      </div>
    </div>
    <div class="col-3">
      <div class="form-check form-switch">
        <input class="form-check-input" formControlName="modCajasDiaria" type="checkbox" role="switch"
          id="flexSwitchCajaDiaria">
        <label class="form-check-label" for="flexSwitchCajaDiaria">Caja Diaria</label>
      </div>
    </div>
    <div class="col-3">
      <div class="form-check form-switch">
        <input class="form-check-input" formControlName="emitirModoRus" type="checkbox" role="switch"
          id="flexSwitchModoRus">
        <label class="form-check-label" for="flexSwitchModoRus">Emitir Modo RUS</label>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <a routerLink="/account/mycompanies" class="btn btn-secondary btn-lg me-2">
      <fa-icon [icon]="faCircleLeft" class="me-1"></fa-icon>
      <span class="text-uppercase">Cancelar</span>
    </a>
    <button type="submit" class="btn btn-primary btn-lg">
      <fa-icon [icon]="faSave" class="me-1"></fa-icon>
      <span class="text-uppercase">Guardar</span>
    </button>
  </div>
</form>
